@import '~scssinc';

.component-start {
  position: absolute;
  z-index: 3;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  background-color: rgba(#000, 0.05);
  border: 1px dashed rgba(#000, 0.1);
  opacity: 0;
  transition: transform 0.4s, opacity 0.4s, background-color 0.2s;
  transform: scale(0.9);
  pointer-events: none;
  .drag-tip-area {
    position: relative;
    width: 320px;
    margin-top: -150px;
    padding-bottom: 40px;
    border-radius: 5px;
  }
  .drag-shape {
    position: relative;
    box-sizing: border-box;
    width: 48px;
    height: 58px;
    margin: 40px auto 15px auto;
    background-image: url(../../../../assets/images/start_icon.png);
    background-size: 48px 58px;
    background-position: 0 0;
  }
  .drag-tip {
    margin-top: 0;
    color: $COLOR_CAPTION;
    text-align: center;
    user-select: none;
    span,
    small {
      display: block;
    }
    span {
      opacity: 0.8;
      font-size: 14px;
      font-weight: bold;
    }
    small {
      opacity: 0.4;
      font-size: 11px;
      font-weight: 400;
      text-transform: uppercase;
    }
  }
}

[data-dragging-over='true'] .component-start {
  background-color: rgba($COLOR_PRIMARY, 0.1);
}
