@import "~scssinc";

.component-start{
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: transform .4s, opacity .4s;
  transform: translateX(-50px);
  pointer-events: none;
  .drag-tip-area{
    position: relative;
    width: 320px;
    margin-top: -150px;
    padding-bottom: 40px;
    border: dashed 2px rgba(#fff, .1);
    border-radius: 5px;
  }
  .drag-shape{
    width: 100px;
    height: 100px;
    margin: 40px auto 0 auto;
    background-image: url(../../../../assets/images/file-drag.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 66px auto;
  }
  .drag-shape-mask{
    position: absolute;
    z-index: 2;
    top: 40px;
    left: 50%;
    width: 120px;
    height: 120px;
    overflow: hidden;
    transform: translateX(-50%);
    &::before{
      position: absolute;
      z-index: 2;
      top: -40px;
      left: -40px;
      width: 120px;
      height: 120px;
      background-clip: content-box;
      border-radius: 50%;
      content: '';
    }
  }
  .drag-tip{
    margin-top: 0;
    color: #fff;
    text-align: center;
    user-select: none;
    span, small{
      display: block;
    }
    span{
      opacity: .3;
      font-size: 18px;
    }
    small{
      opacity: .15;
      font-size: 11px;
      font-weight: 400;
      text-transform: uppercase;
    }
  }
  .pick-enrty{
    // display: none;
    position: absolute;
    bottom: 40px;
    right: 0;
    left: 0;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    background-color: $COLOR_PRIMARY;
    border-radius: 50%;
    color: rgba(#fff, .8);
    font-size: 32px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    &:hover{
      background-color: lighten($COLOR_PRIMARY, 5);
    }
  }
  .processing-spinner{
    display: none;
    position: absolute;
    bottom: 40px;
    right: 0;
    left: 0;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    &::before,
    &::after{
      position: absolute; 
      box-sizing: border-box;
      width: 60px;
      height: 60px;
      content: '';
      border-radius: 50%;
      opacity: .8;
      animation: spinning 1s infinite linear;
    }
    &::before{
      top: 1px;
      left: -1px;
      border: solid 5px $COLOR_PRIMARY;
      transform-origin: 31px 29px
    }
    &::after{
      top: -1px;
      right: -1px;
      border: solid 5px $COLOR_PRIMARY;
      transform-origin: 29px 31px
    }
  }
  .unlock-entry{
    position: absolute;
    bottom: 10px;
    left: 50%;
    color: rgba(#fff, .4);
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    transform: translateX(-50%);
    &:active{
      opacity: .8;
    }
    .text-warning{
      display: block;
      // padding-left: 5px;
    }
  }
}

[data-dragging-over="true"] .component-start{
  .drag-tip-area{
    background-color: rgba(#fff, .05);
    // border-color: $COLOR_PRIMARY;
  }
}

.light-style .component-start{
  .drag-tip{
    color: #333;
  }
  .pick-enrty{
    color: #666;
    &:hover{
      color: #444;
    }
  }
}