@import "~scssinc";

.component-start{
  position: absolute;
  z-index: 3;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  background-color: rgba(#000, .1);
  border: 1px dashed rgba(#fff, .1);
  border-radius: 3px;
  opacity: 0;
  transition: transform .4s, opacity .4s, background-color .2s;
  transform: translateX(-50px);
  pointer-events: none;
  .drag-tip-area{
    position: relative;
    width: 320px;
    margin-top: -150px;
    padding-bottom: 40px;
    // border: dashed 2px rgba(#fff, .1);
    border-radius: 5px;
  }
  .drag-shape{
    position: relative;
    box-sizing: border-box;
    width: 60px;
    height: 80px;
    margin: 40px auto 15px auto;
    background-image: linear-gradient(
      rgba(#000, 0) 0%,
      rgba(#000, .3) 0%,
      rgba(#000, .3) 100%
    );
    background-color: rgba(#fff, .1);
    background-position: 0 -80px;
    background-repeat: no-repeat;
    border-radius: 3px;
    // box-shadow: inset 0 0 0 1px rgba(#fff, .1);
    transition: background .2s linear .2s;
    &::before,
    &::after{
      position: absolute;
      top: 0;
      left: 0;
      box-sizing: border-box;
      width: 60px;
      height: 80px;
      background-color: rgba(#fff, .1);
      // border: 1px solid rgba(#fff, .1);
      border-radius: 3px;
      content: '';
      transition: transform .3s;
    }
    &::before{
      transform: translate(-5px, -5px);
    }
    &::after{
      transform: translate(5px, 5px);
    }
  }
  .drag-shape-mask{
    position: absolute;
    z-index: 2;
    top: 40px;
    left: 50%;
    width: 120px;
    height: 120px;
    overflow: hidden;
    transform: translateX(-50%);
    &::before{
      position: absolute;
      z-index: 2;
      top: -40px;
      left: -40px;
      width: 120px;
      height: 120px;
      background-clip: content-box;
      border-radius: 50%;
      content: '';
    }
  }
  .drag-tip{
    margin-top: 0;
    color: #fff;
    text-align: center;
    user-select: none;
    span, small{
      display: block;
    }
    span{
      opacity: .3;
      font-size: 14px;
      font-weight: bold;
    }
    small{
      opacity: .15;
      font-size: 11px;
      font-weight: 400;
      text-transform: uppercase;
    }
  }
}

[data-dragging-over="true"] .component-start{
  background-color: rgba(#fff, .05);
  .drag-shape{
    &::before,
    &::after{
      transform: translate(0);
    }
  }
}

.light-style .component-start{
  .drag-tip{
    color: #333;
  }
  .pick-enrty{
    color: #666;
    &:hover{
      color: #444;
    }
  }
}