@import "~scssinc";

.component-start{
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: transform .4s, opacity .4s;
  transform: translateX(-50px);
  pointer-events: none;
  .photos-folder{
    width: 120px;
    height: 110px;
    margin-top: -100px;
    background-image: url(../../../../assets/images/icon.png);
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: 100px auto;
  }
  .drag-tip{
    margin-top: 10px;
    color: #fff;
    text-align: center;
    user-select: none;
    span, small{
      display: block;
    }
    span{
      opacity: .8;
      font-size: 14px;
    }
    small{
      opacity: .3;
      font-size: 12px;
      font-weight: 400;
    }
  }
}

[data-dragging-over="true"] .component-start{
  // ...
}

.light-style .component-start{
  .drag-tip{
    color: #333;
  }
}