@import "~scssinc";

.component-start{
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: transform .4s, opacity .4s;
  transform: translateX(-50px);
  pointer-events: none;
  .photos-folder{
    width: 120px;
    height: 120px;
    margin-top: -100px;
    background-image: url(../../../../assets/images/start-center.png);
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: 120px auto;
    // filter: grayscale(1);
  }
  .drag-tip{
    margin-top: 10px;
    color: #fff;
    text-align: center;
    user-select: none;
    span, small{
      display: block;
    }
    span{
      opacity: .8;
      font-size: 14px;
    }
    small{
      opacity: .3;
      font-size: 12px;
      font-weight: 400;
    }
  }
  .pick-enrty{
    position: absolute;
    bottom: 20px;
    left: 50%;
    color: rgba(#fff, .6);
    font-size: 12px;
    transform: translateX(-50%);
    cursor: pointer;
    &:hover{
      color: rgba(#fff, .8);
    }
    i{
      position: relative;
      padding-right: 2px;
      font-size: 14px;
    }
  }
}

[data-dragging-over="true"] .component-start{
  .photos-folder{
    // filter: grayscale(0);
  }
  .drag-tip{
    color: $COLOR_PRIMARY;
  }
}

.light-style .component-start{
  .drag-tip{
    color: #333;
  }
  .pick-enrty{
    color: #666;
    &:hover{
      color: #444;
    }
  }
}