@import '~scssinc';

.component-app-updater {
  display: flex;
  flex-direction: column;
  align-items: center;
  .progress {
    width: 120px;
    height: 8px;
    overflow: hidden;
    border-radius: 4px;
    background-color: rgba(#000, 0.1);
    div {
      height: 8px;
      background-color: $COLOR_PRIMARY;
      // background-image: linear-gradient(to bottom, rgba(#000, 0), rgba(#000, 0));
    }
  }
  .tip {
    margin-top: 5px;
    color: #999;
    font-size: 12px;
  }
}

body[data-theme='dark'] .component-app-updater {
  .progress {
    background-color: rgba(#fff, 0.1);
  }
  .tip {
    margin-top: 5px;
    color: rgba(#fff, 0.3);
    transform: scale(1);
  }
}
