@import "~scssinc";

.component-modal{
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  button{
    outline: none;
  }

  &.visible{
    .modal-mask{
      opacity: 1;
    }
    .modal-content{
      transform: translate(-50%, 0);
    }
  }

  &.confirm-modal,
  &.alert-modal{
    .modal-content{
      > .header{
        border-bottom: none;
        .caption{
          font-size: 13px;
        }
      }
      > .footer{
        margin-top: 30px;
        border-top: none;
      }
    }
    .modal-confirm-content,
    .modal-alert-content{
      padding: 0 20px;
      color: #666;
      font-size: 13px;
    }
  }

  .modal-mask{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, .2);
    opacity: 0;
    transition: opacity .3s;
  }

  .modal-content{
    position: absolute;
    z-index: 2;
    top: $TITLE_BAR_HEIGHT - 2;
    left: 50%;
    max-width: 95%;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 10px 30px rgba(#000, .1);
    transform: translate(-50%, -100%);
    transition: transform .3s;
    &::before,
    &::after{
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 0 0 5px 5px;
      content: '';
    }
    &::before{
      z-index: 1;
      background-color: rgba(lighten($COLOR_DARK, 0), .9);
      backdrop-filter: blur(20px);
    }
    &::after{
      z-index: 2;
      box-shadow: inset 0 0 0 .5px rgba(#000, .5);
    }
    > .header{
      position: relative;
      z-index: 3;
      height: 46px;
      margin-bottom: .5px;
      border-bottom: 1px solid rgba(#000, .3);
      border-width: 0.5px;
      > .caption{
        margin: 0 0 0 20px;
        color: rgba(#fff, .8);
        font-size: 14px;
        font-weight: normal;
        line-height: 46px;
        .text-with-icon{
          height: 46px;
          line-height: initial;
        }
      }
      .button-close{
        position: absolute;
        top: 0;
        right: 0;
        width: 46px;
        height: 46px;
        background-color: transparent;
        border: none;
        color: #ccc;
        font-size: 18px;
        cursor: pointer;
        &:hover{
          color: $COLOR_DANGER;
        }
      }
    }
    > .body{
      position: relative;
      z-index: 3;
      overflow: auto;
    }
    > .footer{
      position: relative;
      z-index: 3;
      padding: 15px;
      overflow: hidden;
      .left-content{
        float: left;
      }
      .buttons{
        float: right;
      }
      .button{
        min-width: 60px;
        margin:  0 0 0 10px;
        padding: 0 15px;
        font-size: 12px;
        // &-default{
        //   background-color: lighten($COLOR_DARK, 15);
        //   &:active{
        //     background-color: lighten($COLOR_DARK, 20);
        //   }
        // }
      }
    }
  }

}

.light-style .component-modal{
  .modal-content{
    &::before{
      background-color: rgba(#f5f5f5, .8);
    }
    &::after{
      box-shadow: inset 0 0 0 .5px rgba(#000, .5), inset 0 0 0 1px rgba(#fff, .04);
    }
    > .header{
      border-bottom: 1px solid rgba(#000, .2);
      border-width: .5px;
      > .caption{
        color: #444;
      }
    }
  }
}