@import '~scssinc';

.component-modal {
  position: absolute;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  button {
    outline: none;
  }

  &.visible {
    .modal-mask {
      opacity: 1;
    }
    .modal-content {
      opacity: 1;
      transform: translate(-50%, 0);
    }
  }

  &.confirm-modal,
  &.alert-modal {
    .modal-content {
      > .header {
        border-bottom: none;
        .caption {
          font-size: 13px;
        }
      }
      > .footer {
        margin-top: 30px;
        border-top: none;
      }
    }
    .modal-confirm-content,
    .modal-alert-content {
      padding: 0 20px;
      color: #666;
      font-size: 13px;
    }
  }

  .modal-mask {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.3s;
  }

  .modal-content {
    position: absolute;
    z-index: 2;
    top: $TITLE_BAR_HEIGHT - 2;
    bottom: 0;
    left: 50%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 20px 55px rgba(#000, 0.15);
    opacity: 0;
    transform: translate(-50%, 50px);
    transition: transform 0.3s, opacity 0.3s;
    > .header {
      position: relative;
      z-index: 3;
      height: 46px;
      margin-bottom: 0.5px;
      > .caption {
        margin: 0;
        color: rgba(#fff, 0.8);
        font-weight: 500;
        line-height: 46px;
        .text-with-icon {
          height: 46px;
          line-height: initial;
        }
      }
      .button-close {
        position: absolute;
        top: 0;
        right: 0;
        width: 46px;
        height: 46px;
        background-color: transparent;
        border: none;
        color: #ccc;
        font-size: 18px;
        cursor: pointer;
        &:hover {
          color: $COLOR_DANGER;
        }
      }
    }
    > .body {
      flex: 1;
      position: relative;
      z-index: 3;
      overflow: auto;
    }
    > .footer {
      box-sizing: border-box;
      position: relative;
      z-index: 3;
      height: 60px;
      padding: 15px;
      overflow: hidden;
      // background-color: rgba(#000, .2);
      // box-shadow: inset 0 .5px 0 0 rgba(#000, .6);
      .left-content {
        float: left;
      }
      .buttons {
        float: right;
      }
      .button {
        min-width: 60px;
        margin: 0 0 0 10px;
        padding: 0 20px;
        font-size: 12px;
      }
    }
  }
}

body[data-theme='dark'] .component-modal {
  .modal-content {
    background-color: #38393a;
  }
}
