@import '~scssinc';

.component-toast-queue-container {
  position: absolute;
  z-index: 999999;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.component-toast {
  position: relative;
  &.visible {
    .toast-mask {
      opacity: 1;
    }
    .toast-content {
      top: 0;
      opacity: 1;
    }
  }

  &.info,
  &.error,
  &.warning,
  &.success {
    .toast-content {
      height: 32px;
      padding: 0 15px;
      border-radius: 2px;
      line-height: 32px;
      .toast-text {
        font-size: 12px;
      }
    }
  }

  &.error,
  &.warning,
  &.success {
    .toast-content {
      color: #fff;
    }
  }

  &.info .toast-content {
    background-color: #fff;
    .toast-content {
      color: $COLOR_CAPTION;
    }
  }

  // &.error .toast-content{
  //   // background-color: $COLOR_DANGER;
  //   // box-shadow: 0 5px 10px 3px rgba(#000, .2);
  // }

  // &.warning .toast-content{
  //   // background-color: $COLOR_WARNING;
  //   // box-shadow: 0 5px 10px 3px rgba(#000, .2);
  // }

  // &.success .toast-content{
  //   // background-color: $COLOR_SUCCESS;
  //   // box-shadow: 0 5px 10px 3px rgba(#000, .2);
  // }

  .toast-mask {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(#555, 0.2);
    opacity: 0;
    transition: opacity 0.3s;
  }

  .toast-content {
    position: relative;
    z-index: 2;
    top: -32px;
    left: 50%;
    display: inline-block;
    width: auto;
    margin-top: 50px;
    background-color: rgba(#000, 0.3);
    transform: translate(-50%, 0);
    opacity: 0;
    transition: opacity 0.3s, top 0.3s;
    backdrop-filter: blur(10px);
  }
}
