@import '~scssinc';

.component-about {
  display: flex;
  flex-direction: column;
  align-items: center;

  .app-icon {
    width: 128px;
    height: 128px;
    margin-top: 100px;
    background-image: url(../../../../assets/images/app_icon.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 128px auto;
  }

  .app-name {
    margin: 10px 0 0 0;
    color: rgba(#fff, 0.8);
    text-align: center;
    span {
      opacity: 0.8;
      font-size: 20px;
      font-weight: 500;
    }
    small {
      opacity: 0.8;
      font-size: 20px;
      font-weight: 400;
    }
  }

  .app-description {
    margin: 5px 0 50px 0;
    padding: 0 50px;
    color: lighten($COLOR_CAPTION, 20);
    font-size: 12px;
    font-weight: normal;
  }
}
