@import "~scssinc";

.component-about{
  display: flex;
  flex-direction: column;
  align-items: center;

  .app-icon{
    width: 90px;
    height: 90px;
    margin-top: 20px;
    margin-top: 30px;
    background-image: url(../../../../assets/images/icon.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 90px auto;
  }

  .app-name{
    margin-top: 15px;
    text-align: center;
    span, small{
      display: block;
    }
    span{
      color: rgba(#fff, .8);
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
    small{
      margin-top: 5px;
      color: rgba(#fff, .4);
      font-size: 12px;
      font-weight: 400;
    }
  }

  .app-description{
    margin: 30px 15px 0 15px;
    padding-top: 20px;
    box-shadow: inset 0 .5px 0 0 rgba(#000, .3);
    .caption{
      margin: 0;
      color: rgba(#fff, .6);
      font-size: 12px;
      font-weight: 500;
      text-align: center;
    }
    .contacts{
      margin: 10px 0;
      padding: 10px 0;
      background-color: rgba(#000, .1);
      border-radius: 3px;
      box-shadow: inset 0 0 0 .5px rgba(#000, .3);
      text-align: center;
      .link{
        display: inline-block;
        width: 160px;
        margin-bottom: 3px;
        padding: 0 10px;
        color: rgba(#fff, .6);
        font-size: 12px;
        text-align: left;
        cursor: pointer;
        &:hover{
          color: $COLOR_PRIMARY;
        }
      }
    }
  }

}