@import "~scssinc";

.component-about{
  display: flex;
  flex-direction: column;
  align-items: center;

  .app-icon{
    width: 90px;
    height: 90px;
    margin-top: 40px;
    background-image: url(../../../../assets/images/icon.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 90px auto;
  }

  .app-name{
    margin: 20px 0 0 0;
    color: #fff;
    text-align: center;
    span{
      opacity: .8;
      font-size: 20px;
      font-weight: 500;
    }
    small{
      opacity: .8;
      font-size: 20px;
      font-weight: 400;
    }
  }

  .app-description{
    margin: 5px 0 50px 0;
    padding: 0 50px;
    color: rgba(#fff, .6);
    font-size: 12px;
    font-weight: normal;
  }

}

.light-style .component-about{
  .app-name{
    color: #333;
  }
  .app-description{
    color: #555;
  }
}