@import "~scssinc";

.component-about{
  display: flex;
  flex-direction: column;
  align-items: center;

  .app-icon{
    width: 90px;
    height: 90px;
    margin-top: 40px;
    background-image: url(../../../../assets/images/icon.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 90px auto;
  }

  .app-name{
    margin: 20px 0 0 0;
    color: #fff;
    text-align: center;
    span{
      opacity: .8;
      font-size: 20px;
      font-weight: 500;
    }
    small{
      opacity: .8;
      font-size: 20px;
      font-weight: 400;
    }
  }

  .app-description{
    margin: 5px 0 20px 0;
    padding: 0 50px;
    color: rgba(#fff, .6);
    font-size: 12px;
    font-weight: normal;
  }

  .register-info{
    width: 320px;
    padding: 15px;
    background-color: $COLOR_DARK;
    box-shadow: inset 0 0 0 .5px rgba(#000, .3);
    border-radius: 3px;
    .caption{
      display: flex;
      justify-content: space-between;
      margin: 0;
      padding: 0;
      color: rgba(#fff, .4);
      font-size: 12px;
    }
    .button-get-key{
      background-image: linear-gradient(to right, $COLOR_PRIMARY, $COLOR_SUCCESS);
      font-size: 12px;
      font-weight: normal;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      cursor: pointer;
      &:hover{
        background-image: linear-gradient(to right, $COLOR_SUCCESS, $COLOR_PRIMARY);
        i{
          -webkit-text-fill-color: $COLOR_SUCCESS;
        }
      }
      i{
        -webkit-text-fill-color: $COLOR_PRIMARY;
      }
    }
    .button-revoke{
      color: rgba(#fff, .2);
      font-size: 12px;
      font-weight: normal;
      cursor: pointer;
      &:hover{
        color: $COLOR_DANGER;
      }
    }
    .register-form{
      margin-top: 10px;
      input{
        display: block;
        width: 320px;
        height: 36px;
        margin: 0;
        background-color: rgba(#fff, .1);
        border: none;
        border-radius: 3px;
        outline: none;
        box-shadow: inset 0 0 0 .5px rgba(#000, .4), 0 .5px 0 0 rgba(#fff, .1);
        color: rgba(#fff, .8);
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
      }
      button{
        display: block;
        width: 320px;
        height: 36px;
        margin-top: 12px;
      }
    }
    .registration-code{
      margin-top: 10px;
      transform: rotate(-1deg) translate(2px, 1px);
      .code-note{
        position: relative;
        display: block;
        padding: 10px 0;
        background-color: rgba(#fff, 1);
        background-image: linear-gradient(to left bottom, rgba(#000, 0), rgba(#000, .2));
        border-radius: 3px;
        text-align: center;
        &::before,
        &::after{
          position: absolute;
          top: 35px;
          width: 10px;
          height: 10px;
          background-color: $COLOR_DARK;
          border-radius: 50%;
          content: '';
        }
        &::before{
          left: -5px;
        }
        &::after{
          right: -5px;
        }
        b{
          display: block;
          padding-bottom: 10px;
          color: rgba(#000, .8);
          font-size: 14px;
          font-weight: normal;
          text-transform: uppercase;
          border-bottom: 1px dashed rgba(#000, .3);
        }
        span{
          display: block;
          margin-top: 10px;
          color: rgba(#000, .8);
          font-size: 18px;
          font-weight: bold;
          background-image: linear-gradient(to right, $COLOR_PRIMARY, $COLOR_SUCCESS);
          background-size: 320px 25px;
          text-transform: uppercase;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }

}

.light-style .component-about{
  .app-name{
    color: #333;
  }
  .app-description{
    color: #555;
  }
  .register-info{
    background-color: #fff;
    box-shadow: inset 0 0 0 .5px rgba(#000, .2);
    .caption{
      color: #666;
    }
    .button-revoke{
      color: #999;
      &:hover{
        color: $COLOR_DANGER;
      }
    }
    .register-form{
      input{
        color: #666;
      }
    }
    .registration-code{
      .code-note{
        background-color: $COLOR_DARK;
        background-image: linear-gradient(to left bottom, rgba(#000, 0), rgba(#000, .1));
        &::before,
        &::after{
          background-color: #fff;
        }
        b{
          color: rgba(#fff, .7);
        }
        span{
          color: rgba(#fff, 1);
        }
      }
    }
  }
}