@import "~scssinc";

.page-index{
  display: flex;
  flex-direction: column;
  background-color: rgba(#292D35, .5);
  .index-content{
    display: flex;
    position: relative;
    flex: 1;
    overflow: hidden;
    &[data-empty="true"]{
      .component-start{
        opacity: 1;
        transform: translateX(0);
        pointer-events: all;
      }
    }
    &[data-empty="false"]{
      .component-task-list{
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}

.cache-dir-entry{
  color: rgba(#fff, .5);
  font-size: 11px;
  height: 24px;
  &:hover{
    color: $COLOR_PRIMARY;
  }
}

.app-copyright{
  color: rgba(#fff, .5);
  font-size: 12px;
  height: 24px;
  line-height: 26px;
  text-transform: uppercase;
  a {
    padding-left: 5px;
    color: rgba(#fff, .5);
    cursor: pointer;
    &:hover{
      color: $COLOR_PRIMARY;
    }
  }
}