@import "~scssinc";

.page-index{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: rgba(darken($COLOR_DARK, 5), .8);
  // background-image: linear-gradient(to bottom right, rgba(#000, 0), rgba(#000, .3));
  .index-content{
    display: flex;
    position: relative;
    flex: 1;
    overflow: hidden;
    perspective: 1000px;
    &[data-empty="true"]{
      .component-start{
        opacity: 1;
        transform: translateX(0);
        pointer-events: all;
      }
    }
    &[data-empty="false"]{
      .component-task-list{
        opacity: 1;
        transform: scale(1);
      }
    }
    .footer{
      position: absolute;
      z-index: 5;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100px;
      .button-pick-files{
        position: absolute;
        width: 56px;
        height: 56px;
        z-index: 3;
        top: 20px;
        right: 0;
        left: 0;
        margin: 0 auto;
        background-color: $COLOR_PRIMARY;
        border: none;
        outline: none;
        border-radius: 50%;
        cursor: pointer;
        transition: transform .3s, background-color .3s;
        &:hover{
          background-color: lighten($COLOR_PRIMARY, 5);
          transform: rotate(90deg);
        }
        &::before,
        &::after{
          position: absolute;
          top: 27px;
          left: 18px;
          width: 20px;
          height: 2px;
          background-color: #fff;
          content: '';
          pointer-events: none;
        }
        &::after{
          transform: rotate(90deg);
        }
      }
      .processing-spinner{
        display: none;
        position: absolute;
        top: 20px;
        right: 0;
        left: 0;
        width: 60px;
        height: 60px;
        margin: 0 auto;
        &::before,
        &::after{
          position: absolute; 
          box-sizing: border-box;
          width: 60px;
          height: 60px;
          content: '';
          border-radius: 50%;
          opacity: .8;
          animation: spinning 1s infinite linear;
        }
        &::before{
          top: 1px;
          left: -1px;
          border: solid 5px $COLOR_PRIMARY;
          transform-origin: 31px 29px
        }
        &::after{
          top: -1px;
          right: -1px;
          border: solid 5px $COLOR_PRIMARY;
          transform-origin: 29px 31px
        }
      }
    }
  }
}

.cache-dir-entry{
  color: rgba(#fff, .3);
  height: 24px;
  i{
    padding-right: 3px;
  }
  span{
    font-size: 12px;
  }
  &:hover{
    color: $COLOR_PRIMARY;
  }
}

.app-copyright{
  color: rgba(#fff, .5);
  font-size: 12px;
  height: 24px;
  line-height: 30px;
  text-transform: uppercase;
  a {
    padding-left: 5px;
    color: inherit;
    cursor: pointer;
    &:hover{
      color: $COLOR_PRIMARY;
    }
  }
}

.light-style{
  .page-index{
    background-color: #f0f0f0;
  }
  .app-copyright,
  .cache-dir-entry{
    color: #666;
  }
}