@import "~scssinc";

.page-index{
  display: flex;
  flex-direction: column;
  background-color: rgba(#292D35, .3);
  .index-content{
    position: relative;
    flex: 1;
    overflow: hidden;
    &[data-empty="true"]{
      .component-start{
        opacity: 1;
        transform: translateX(0);
      }
    }
    &[data-empty="false"]{
      .component-task-list{
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}