@import '~scssinc';

.page-index {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #fff; //lighten($COLOR_DARK, 5);
  border-radius: 5px;
  .index-content {
    display: flex;
    position: relative;
    flex: 1;
    overflow: hidden;
    perspective: 1000px;
    &[data-empty='true'] {
      .component-start {
        opacity: 1;
        transform: scale(1);
        pointer-events: all;
      }
    }
    &[data-empty='false'] {
      .component-task-list {
        opacity: 1;
        transform: scale(1);
      }
      .footer {
        .button-pick-files {
          transform: translateY(120px);
        }
      }
    }
    .footer {
      position: absolute;
      z-index: 5;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 60px;
      .button-pick-files {
        position: absolute;
        width: 300px;
        height: 50px;
        z-index: 4;
        top: -50px;
        right: 0;
        left: 0;
        margin: 0 auto;
        background-color: $COLOR_PRIMARY;
        border: none;
        outline: none;
        border-radius: 3px;
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.5s;
        &:hover {
          background-color: darken($COLOR_PRIMARY, 5);
        }
        .mdi {
          display: none;
          position: absolute;
          top: 10px;
          right: 10px;
          width: 30px;
          height: 30px;
          background-color: rgba(#000, 0.1);
          border-radius: 50%;
          line-height: 30px;
          text-align: center;
        }
      }
    }
  }
}

.cache-dir-entry {
  color: rgba(#fff, 0.3);
  height: 24px;
  i {
    padding-right: 3px;
  }
  span {
    font-size: 12px;
  }
  &:hover {
    color: $COLOR_PRIMARY;
  }
}

.app-copyright {
  color: rgba(#fff, 0.5);
  font-size: 12px;
  height: 24px;
  line-height: 32px;
  a {
    padding-left: 5px;
    color: inherit;
    cursor: pointer;
    &:hover {
      color: rgba(#fff, 0.8);
    }
  }
}
