@import "~scssinc";

.page-index{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: rgba(darken($COLOR_DARK, 2), 1);
  .index-content{
    display: flex;
    position: relative;
    flex: 1;
    overflow: hidden;
    perspective: 1000px;
    &[data-empty="true"]{
      .component-start{
        opacity: 1;
        transform: translateX(0);
        pointer-events: all;
      }
    }
    &[data-empty="false"]{
      .component-task-list{
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}

.cache-dir-entry{
  color: rgba(#fff, .3);
  height: 24px;
  i{
    padding-right: 3px;
  }
  span{
    font-size: 12px;
  }
  &:hover{
    color: $COLOR_PRIMARY;
  }
}

.app-copyright{
  color: rgba(#fff, .5);
  font-size: 12px;
  height: 24px;
  line-height: 26px;
  text-transform: uppercase;
  a {
    padding-left: 5px;
    color: inherit;
    cursor: pointer;
    &:hover{
      color: $COLOR_PRIMARY;
    }
  }
}

.light-style{
  .page-index{
    background-color:#ececec;
  }
  .app-copyright,
  .cache-dir-entry{
    color: #666;
  }
}