@import '~scssinc';

.page-index {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: lighten($COLOR_DARK, 5);
  border-radius: 5px;
  .index-content {
    display: flex;
    position: relative;
    flex: 1;
    overflow: hidden;
    perspective: 1000px;
    &[data-empty='true'] {
      .component-start {
        opacity: 1;
        transform: scale(1);
        pointer-events: all;
      }
    }
    &[data-empty='false'] {
      .component-task-list {
        opacity: 1;
        transform: scale(1);
      }
      .footer {
        .processing-spinner {
          display: block;
        }
      }
    }
    .footer {
      position: absolute;
      z-index: 5;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 60px;
      .button-pick-files {
        position: absolute;
        width: 56px;
        height: 56px;
        z-index: 4;
        top: -14px;
        right: 0;
        left: 0;
        margin: 0 auto;
        background-color: $COLOR_PRIMARY;
        box-shadow: inset 0 0.5px 0 0 rgba(#fff, 0.2), 0 0 0 0.5px rgba(#000, 0.5);
        border: none;
        outline: none;
        border-radius: 50%;
        cursor: pointer;
        transition: background-color 0.3s;
        &:hover {
          background-color: darken($COLOR_PRIMARY, 4);
        }
        &::before,
        &::after {
          position: absolute;
          top: 27px;
          left: 18px;
          width: 20px;
          height: 2px;
          background-color: #fff;
          content: '';
          pointer-events: none;
        }
        &::after {
          transform: rotate(90deg);
        }
      }
      .processing-spinner {
        display: none;
        position: absolute;
        z-index: 3;
        top: -20px;
        right: 0;
        left: 0;
        width: 68px;
        height: 68px;
        margin: 0 auto;
        background-color: lighten($COLOR_DARK, 2);
        box-shadow: inset 0 0.5px 0 0 rgba(#000, 0.4), 0 -2px 3px rgba(#000, 0.07);
        border-radius: 50%;
        &[data-active='true'] {
          &::before {
            content: '';
          }
        }
        &::before {
          display: block;
          width: 64px;
          height: 64px;
          margin: 2px;
          background-image: url(../../assets/images/spinning.png);
          background-size: 64px;
          background-position: 50% 50%;
          background-repeat: no-repeat;
          animation: spinning 1s infinite linear;
        }
      }
    }
  }
}

.cache-dir-entry {
  color: rgba(#fff, 0.3);
  height: 24px;
  i {
    padding-right: 3px;
  }
  span {
    font-size: 12px;
  }
  &:hover {
    color: $COLOR_PRIMARY;
  }
}

.app-copyright {
  color: rgba(#fff, 0.5);
  font-size: 12px;
  height: 24px;
  line-height: 32px;
  a {
    padding-left: 5px;
    color: inherit;
    cursor: pointer;
    &:hover {
      color: rgba(#fff, 0.8);
    }
  }
}
