@import '~scssinc';

.component-title-bar {
  position: relative;
  z-index: 999999;
  width: 100%;
  height: $TITLE_BAR_HEIGHT;
  margin: 0 auto;
  background-color: #fff;
  background-image: linear-gradient(#fbfbfb, #ececec);
  box-shadow: inset 0 -0.5px 0 0 rgba(#000, 0.2), 0 1px 3px rgba(#000, .1);
  text-align: center;
  user-select: none;
  -webkit-app-region: drag;
  .app-title {
    display: block;
    height: $TITLE_BAR_HEIGHT;
    color: lighten($COLOR_CAPTION, 10);
    font-size: 12px;
    font-weight: 700;
    line-height: $TITLE_BAR_HEIGHT;
    text-transform: uppercase;
  }
  .button-toggle-dropdown {
    position: absolute;
    top: 9px;
    right: 10px;
    width: 20px;
    height: 20px;
    color: lighten($COLOR_CAPTION, 20);
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    transition: transform 0.5s, opacity .3s;
    -webkit-app-region: none;
    &[data-disabled="true"]{
      opacity: .3;
      pointer-events: none;
    }
    &:hover {
      transform: rotate(180deg);
    }
  }
}

.dropdown-modal {
  &.visible {
    .modal-content {
      transform: translate(0);
    }
  }
  .modal-content {
    top: $TITLE_BAR_HEIGHT + 8px;
    right: 6px;
    bottom: auto;
    left: auto;
    background-color: #fff;
    background-image: none;
    box-shadow: 0 0 0 0.5px rgba(#000, 0.15), 0 20px 55px rgba(#000, 0.1);
    border-radius: 3px;
    transform: translate(0, 20px);
    &::before {
      position: absolute;
      top: -3px;
      right: 10px;
      width: 6px;
      height: 6px;
      background-color: #fff;
      box-shadow: -0.5px -0.5px 0 0 rgba(#000, 0.15);
      transform: rotate(45deg);
      content: '';
    }
    .dropdown-menu {
      list-style: none;
      margin: 0;
      padding: 5px 0;
      overflow: hidden;
      border-radius: 3px;
      li {
        height: 20px;
        padding: 5px 10px;
        &:last-child {
          box-shadow: none;
        }
        &:hover {
          background-color: #f8f8f8;
        }
        .switch-label,
        .label {
          float: left;
          color: lighten($COLOR_CAPTION, 5);
          font-size: 12px;
          line-height: 20px;
        }
        .component-switch {
          justify-content: space-between;
        }
        .switch-core {
          width: 26px;
        }
        .mdi {
          float: right;
          color: #ccc;
          font-size: 14px;
        }
      }
    }
  }
}
