@import "~scssinc";

$TITLE_BAR_HEIGHT: 36px;

.component-title-bar{
  position: relative;
  z-index: 999999;
  width: 100%;
  height: $TITLE_BAR_HEIGHT;
  margin: 0 auto;
  background-color: lighten($COLOR_DARK, 3);
  background-image: linear-gradient(rgba(#000, 0), rgba(#000, .2));
  box-shadow: inset 0 -.5px 0 0 rgba(#000, .4);
  text-align: center;
  user-select: none;
  -webkit-app-region: drag;
  .app-title{
    display: block;
    height: $TITLE_BAR_HEIGHT;
    color: rgba(#fff, .8);
    font-size: 13px;
    font-weight: 500;
    line-height: $TITLE_BAR_HEIGHT;
    text-transform: uppercase;
  }
  .unlock-entry{
    padding-left: 5px;
    color: rgba($COLOR_WARNING, .8);
    cursor: pointer;
    -webkit-app-region: none;
    &:active{
      color: rgba($COLOR_WARNING, .7);
    }
  }
  .button-toggle-dropdown{
    position: absolute;
    top: 8px;
    right: 10px;
    width: 20px;
    height: 20px;
    color: rgba(#fff, .3);
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    -webkit-app-region: none;
    &:hover{
      color: $COLOR_PRIMARY;
    }
  }
}

.dropdown-modal{
  &.visible{
    .modal-content{
      transform: translate(0);
    }
  }
  .modal-content{
    top: $TITLE_BAR_HEIGHT + 10px;
    right: 7px;
    left: auto;
    border-radius: 3px;
    transform: translate(0, -120%);
    &::before{
      position: absolute;
      top: -3px;
      right: 10px;
      width: 6px;
      height: 6px;
      background-color: lighten($COLOR_DARK, 4);
      box-shadow: -.5px -.5px 0 0 rgba(#000, .3);
      transform: rotate(45deg);
      content: '';
    }
    .dropdown-menu{
      list-style: none;
      margin: 0;
      padding: 5px 0;
      overflow: hidden;
      border-radius: 3px;
      li{
        height: 20px;
        padding: 5px 10px;
        &:last-child{
          box-shadow: none;
        }
        &:hover{
          background-color: rgba(#000, .15);
        }
        .switch-label,
        .label{
          float: left;
          color: rgba(#fff, .8);
          font-size: 12px;
          line-height: 20px;
        }
        .component-switch{
          justify-content: space-between;
        }
        .switch-core{
          width: 26px;
          height: 12px;
          &::before{
            width: 14px;
            height: 14px;
            background-color: lighten($COLOR_DARK, 70);
          }
        }
        .mdi{
          float: right;
          color: rgba(#fff, .3);
          font-size: 14px;
        }
      }
    }
  }
}

.light-style{
  
  .component-title-bar{
    background-color: rgba(#fff, 1);
    background-image: linear-gradient(rgba(#000, 0), rgba(#000, .2));
    box-shadow: inset 0 -.5px 0 0 rgba(#000, .2);
    .app-title{
      color: #555;
    }
    .button-toggle-dropdown{
      color: #777;
      &:hover{
        color: $COLOR_PRIMARY;
      }
    }
  }

  .dropdown-modal{
    .modal-content {
      &::before{
        background-color: #ececec;
        box-shadow: -.5px -.5px 0 0 rgba(#000, .14);
      }
      .dropdown-menu li{
        &:last-child{
          box-shadow: none;
        }
        &:hover{
          background-color: rgba(#000, .05);
        }
        .switch-label,
        .label{
          color: #666;
        }
        .mdi{
          color: #aaa;
        }
      }
    }
  }
}