@import '~scssinc';

.component-title-bar {
  position: relative;
  z-index: 999999;
  width: 100%;
  height: $TITLE_BAR_HEIGHT;
  margin: 0 auto;
  background-color: #000;
  background-image: linear-gradient(to bottom, #fff, #f1f2f3);
  text-align: center;
  user-select: none;
  -webkit-app-region: drag;
  box-shadow: 0 0.5px 0 0 rgba(#000, 0.15), 0 1px 3px rgba(#000, 0.1);
  .app-title {
    display: block;
    height: $TITLE_BAR_HEIGHT;
    color: $COLOR_CAPTION;
    font-size: 13px;
    font-weight: 700;
    line-height: $TITLE_BAR_HEIGHT;
    // text-transform: uppercase;
  }
  .buttons {
    position: absolute;
    top: 0;
    right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $TITLE_BAR_HEIGHT;
    button {
      width: 22px;
      height: 22px;
      margin-left: 3px;
      padding: 0;
      background-color: transparent;
      // background-color: #f2f3f4;
      // background-image: linear-gradient(to bottom, #fff, #f1f2f3);
      border: none;
      border-radius: 3px;
      outline: none;
      // box-shadow: inset 0 0 0 0.5px rgba(#000, 0.2), 0 0.5px 0 rgba(#000, 0.1);
      color: lighten($COLOR_CAPTION, 10);
      font-size: 14px;
      line-height: 23px;
      text-align: center;
      transition: transform 0.5s, opacity 0.3s;
      -webkit-app-region: none;
      &:hover {
        color: $COLOR_CAPTION;
      }
      &[data-active='true'] {
        color: $COLOR_PRIMARY;
        background-color: $COLOR_PRIMARY;
        background-image: none;
        box-shadow: inset 0 0 0 0.5px rgba(#000, 0.2), 0 -0.5px 0 rgba(#000, 0.1);
        color: #fff;
      }
      &[data-disabled='true'] {
        opacity: 0.3;
        pointer-events: none;
      }
    }
  }
}

.preferences-modal .modal-content {
  background-color: #fff;
}
