@import "~scssinc";

$TITLE_BAR_HEIGHT: 23px;

.component-title-bar{
  position: relative;
  z-index: 999999;
  width: 100%;
  height: $TITLE_BAR_HEIGHT;
  margin: 0 auto;
  background-image: linear-gradient(#fff 0,#e5e5e5 5%, #ccc 100%);
  box-shadow: inset 0 -.5px 0 0 rgba(#000, .6);
  text-align: center;
  user-select: none;
  -webkit-app-region: drag;
  .app-title{
    display: block;
    height: $TITLE_BAR_HEIGHT;
    color: #555;
    font-size: 12px;
    font-weight: 500;
    line-height: $TITLE_BAR_HEIGHT;
    text-transform: uppercase;
  }
  .unlock-entry{
    padding-left: 3px;
    color: #888;
    font-size: 12px;
    -webkit-app-region: no-drag;
    &:active{
      color: #666;
    }
  }
  .button-toggle-dropdown{
    position: absolute;
    top: 2px;
    right: 8px;
    width: 20px;
    height: 20px;
    color: #666;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    -webkit-app-region: none;
    &:hover{
      color: $COLOR_PRIMARY;
    }
  }
}

.dropdown-modal{
  &.visible{
    .modal-content{
      transform: translate(0);
    }
  }
  .modal-content{
    top: $TITLE_BAR_HEIGHT + 7px;
    right: 5px;
    bottom: auto;
    left: auto;
    background-color: lighten($COLOR_DARK, 15);
    background-image: none;
    border-radius: 3px;
    transform: translate(0, 20px);
    &::before{
      position: absolute;
      top: -3px;
      right: 10px;
      width: 6px;
      height: 6px;
      background-color: lighten($COLOR_DARK, 15);
      box-shadow: -.5px -.5px 0 0 rgba(#000, .3);
      transform: rotate(45deg);
      content: '';
    }
    .dropdown-menu{
      list-style: none;
      margin: 0;
      padding: 5px 0;
      overflow: hidden;
      border-radius: 3px;
      li{
        height: 20px;
        padding: 5px 10px;
        &:last-child{
          box-shadow: none;
        }
        &:hover{
          background-color: rgba(#000, .15);
        }
        .switch-label,
        .label{
          float: left;
          color: rgba(#fff, .8);
          font-size: 12px;
          line-height: 20px;
        }
        .component-switch{
          justify-content: space-between;
        }
        .switch-core{
          width: 26px;
          height: 12px;
          &::before{
            width: 14px;
            height: 14px;
            background-color: lighten($COLOR_DARK, 70);
          }
        }
        .mdi{
          float: right;
          color: rgba(#fff, .3);
          font-size: 14px;
        }
      }
    }
  }
}

.light-style{
  
  .component-title-bar{
    box-shadow: inset 0 -.5px 0 0 rgba(#000, .2);
  }

  .dropdown-modal{
    .modal-content {
      &::before{
        background-color: #ececec;
        box-shadow: -.5px -.5px 0 0 rgba(#000, .14);
      }
      .dropdown-menu li{
        &:last-child{
          box-shadow: none;
        }
        &:hover{
          background-color: rgba(#000, .05);
        }
        .switch-label,
        .label{
          color: #666;
        }
        .mdi{
          color: #aaa;
        }
      }
    }
  }
}