@import "~scssinc";

.component-task-analyzer{
  position: absolute;
  z-index: 10;
  right: 10px;
  left: 10px;
  bottom: 10px;
  height: 60px;
  border-radius: 5px;
  box-shadow: inset 0 0 0 .5px rgba(#000, .15), 0 5px 15px rgba(#000, .2);
  transform: translateY(90px) rotateX(90deg);
  transition: transform 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  &[data-visible="true"]{
    transform: translateY(0) rotateX(0);
  }
  &::before,
  &::after{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 60px;
    border-radius: 5px;
    overflow: hidden;
    content: '';
  }
  &::before{
    z-index: 1;
    width: 100%;
    height: 60px;
    backdrop-filter: blur(8px);
    // filter: url(../../../../assets/filters/filters.svg#svgBlur);
    // background-color: rgba(#f00, 1);
    // transform: scale(.5);
    // transform-origin: 0 0;
  }
  &::after{
    z-index: 2;
    background-color: rgba(lighten($COLOR_DARK, 5), .5);
    box-shadow: inset 0 0 0 .5px rgba(#fff, .05);
  }
  .content{
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    height: 60px;
  }
  .total-optimized-rate{
    width: 36px;
    height: 36px;
    margin-left: 15px;
    transform: rotateY(180deg) rotate(-90deg);
    pointer-events: none;
    circle.circle{
      stroke: rgba(#000, .1);
    }
    &.success circle{
      &.played{
        stroke: $COLOR_SUCCESS;
      }
    }
    &.warning circle{
      &.played{
        stroke: $COLOR_WARNING;
      }
    }
    &.danger circle{
      &.played{
        stroke: $COLOR_DANGER;
      }
    }
  }
  .analyze-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 0 10px;
    .count{
      color: rgba(#fff, .8);
      font-size: 12px;
    }
    .size{
      color: rgba(#fff, .4);
      font-size: 11px;
    }
  }
  .operates{
    position: absolute;
    right: 15px;
    top: 15px;
    height: 30px;
    margin-top: 1px;
    .button{
      margin-left: 10px;
      padding: 0 10px;
      font-size: 12px;
    }
  }
}

.light-style{
  .component-task-analyzer{
    &::after{
      background-color: rgba(#fff, .5);
      box-shadow: inset 0 0 0 .5px rgba(#fff, .05);
    }
    .total-optimized-rate{
      circle{
        stroke: rgba(#000, .1);
      }
    }
    .analyze-text{
      .count{
        color: rgba(#000, .6);
      }
      .size{
        color: rgba(#000, .4);
      }
    }
  }
}
