@import '~scssinc';

.component-task-analyzer {
  position: absolute;
  z-index: 2;
  right: 0;
  left: 0;
  bottom: 0;
  height: 60px;
  background-color: lighten($COLOR_DARK, 2);
  box-shadow: inset 0 0.5px 0 0 rgba(#000, 0.4), 0 -1px 3px rgba(#000, 0.1);
  transform: translateY(90px) rotateX(30deg);
  transition: transform 0.5s;
  &[data-visible='true'] {
    transform: translateY(0) rotateX(0);
  }
  .progress-bar {
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    height: 2px;
    overflow: hidden;
    background-image: linear-gradient(to right, $COLOR_PRIMARY, $COLOR_SUCCESS);
    background-size: 420px 2px;
    border-radius: 2px 0 0 0;
    opacity: 0;
    transition: opacity 0.3s;
    &[data-completed='true'] {
      width: 420px !important;
    }
    &[data-visible='true'] {
      opacity: 1;
    }
  }
  .content {
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    height: 60px;
  }
  .total-optimized-rate {
    width: 36px;
    height: 36px;
    margin-left: 15px;
    transform: rotateY(180deg) rotate(-90deg);
    pointer-events: none;
    circle {
      transition: fill 0.3s, stroke-dasharray 0.3s;
      .circle {
        stroke: rgba(#000, 0.1);
      }
    }
    &.success circle {
      &.played {
        stroke: $COLOR_SUCCESS;
      }
    }
    &.warning circle {
      &.played {
        stroke: $COLOR_WARNING;
      }
    }
    &.danger circle {
      &.played {
        stroke: $COLOR_DANGER;
      }
    }
  }
  .analyze-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 0 15px;
    .count {
      color: rgba(#fff, 0.5);
      font-size: 12px;
    }
    .size {
      color: rgba(#fff, 0.3);
      font-size: 11px;
    }
  }
  .operates {
    position: absolute;
    right: 15px;
    top: 14px;
    height: 32px;
    margin-top: 1px;
    .button {
      width: 32px;
      height: 32px;
      margin-left: 10px;
      padding: 0;
      background-color: lighten($COLOR_DARK, 15);
      border-radius: 50%;
      color: lighten($COLOR_CAPTION, 20);
      font-size: 16px;
      cursor: pointer;
      &:disabled {
        background-color: rgba(#fff, 0.05);
        color: lighten($COLOR_CAPTION, 40);
        pointer-events: none;
      }
      &:hover {
        background-color: lighten($COLOR_DARK, 18);
      }
    }
  }
}
