@import '~scssinc';

.component-task-analyzer {
  position: absolute;
  z-index: 2;
  right: 7px;
  left: 7px;
  bottom: 7px;
  height: 60px;
  background-color: $COLOR_PRIMARY;
  background-image: linear-gradient(to bottom, rgba(#fff, 0.1), rgba(#fff, 0));
  border-radius: 5px;
  box-shadow: inset 0 0 0 0.5px rgba(#000, 0.2), 0 5px 10px rgba($COLOR_PRIMARY, 0.3);
  transform: translateY(90px) rotateX(30deg);
  transition: transform 0.5s;
  &[data-visible='true'] {
    transform: translateY(0) rotateX(0);
  }
  .progress-bar {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 60px;
    overflow: hidden;
    background-color: rgba(#fff, 0.05);
    background-size: 100vw 1px;
    border-radius: 5px 0 0 5px;
    opacity: 0;
    transition: opacity 0.3s;
    background-image: linear-gradient(
      45deg,
      rgba(#fff, 0.05) 25%,
      transparent 25%,
      transparent 50%,
      rgba(#fff, 0.05) 50%,
      rgba(#fff, 0.05) 75%,
      transparent 75%,
      transparent
    );
    background-size: 48px 48px;
    box-shadow: inset -0.5px 0 0 0 rgba(#000, 0.1);
    animation: processing 1s linear infinite;
    animation-play-state: paused;
    &[data-completed='true'] {
      width: 100vw !important;
    }
    &[data-visible='true'] {
      opacity: 1;
      animation-play-state: running;
    }
  }
  .content {
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    height: 60px;
  }
  .total-optimized-rate {
    width: 36px;
    height: 36px;
    margin-left: 15px;
    transform: rotateY(180deg) rotate(-90deg);
    pointer-events: none;
    circle {
      transition: fill 0.3s, stroke-dasharray 0.3s;
      .circle {
        stroke: rgba(#000, 0.1);
      }
    }
    &.success circle {
      &.played {
        stroke: $COLOR_SUCCESS;
      }
    }
    &.warning circle {
      &.played {
        stroke: $COLOR_WARNING;
      }
    }
    &.danger circle {
      &.played {
        stroke: $COLOR_DANGER;
      }
    }
  }
  .analyze-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 0 15px;
    .count {
      color: #fff;
      font-size: 12px;
    }
    .size {
      color: rgba(#fff, 0.8);
      font-size: 11px;
    }
  }
  .operates {
    position: absolute;
    right: 15px;
    top: 14px;
    height: 32px;
    margin-top: 1px;
    .button {
      width: 32px;
      height: 32px;
      margin-left: 10px;
      padding: 0;
      background-color: rgb(#000, 0.1);
      box-shadow: inset 0 0 0 0.5px rgba(#000, 0.1);
      border-radius: 50%;
      color: #fff;
      font-size: 16px;
      cursor: pointer;
      &:disabled {
        background-color: rgba(#000, 0.05);
        color: rgba(#fff, 0.4);
        pointer-events: none;
      }
      &:hover {
        background-color: rgba(#000, 0.15);
      }
    }
  }
}
