@import "~scssinc";

.component-task-analyzer{
  position: absolute;
  z-index: 2;
  right: 0;
  left: 0;
  bottom: 0;
  height: 60px;
  border-radius: 3px;
  transform: translateY(90px) rotateX(30deg);
  transition: transform .5s;
  &[data-visible="true"]{
    transform: translateY(0) rotateX(0);
  }
  .progress-bar{
    position: absolute;
    z-index: 4;
    bottom: 0;
    left: 0;
    height: 3px;
    overflow: hidden;
    background-image: linear-gradient(to right, $COLOR_PRIMARY, $COLOR_SUCCESS);
    background-size: 420px 2px;
    border-radius: 2px 0 0 0;
    opacity: 0;
    transition: opacity .3s;
    &[data-completed="true"]{
      width: 420px !important;
    }
    &[data-visible="true"]{
      opacity: 1;
    }
  }
  &::before,
  &::after{
    position: absolute;
    top: 0;
    left: 0;
    width: 440px;
    height: 60px;
    content: '';
  }
  &::before{
    z-index: 1;
    backdrop-filter: blur(20px);
  }
  &::after{
    z-index: 2;
    background-color: rgba(darken($COLOR_DARK, 5), .8);
    box-shadow: inset 0 .5px 0 0 rgba(#000, .2);
  }
  .content{
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    height: 60px;
  }
  .total-optimized-rate{
    width: 36px;
    height: 36px;
    margin-left: 15px;
    transform: rotateY(180deg) rotate(-90deg);
    pointer-events: none;
    circle{
      transition: fill .3s, stroke-dasharray .3s;
      .circle{
        stroke: rgba(#000, .1);
      }
    }
    &.success circle{
      &.played{
        stroke: $COLOR_SUCCESS;
      }
    }
    &.warning circle{
      &.played{
        stroke: $COLOR_WARNING;
      }
    }
    &.danger circle{
      &.played{
        stroke: $COLOR_DANGER;
      }
    }
  }
  .analyze-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 0 15px;
    .count{
      color: rgba(#fff, .8);
      font-size: 12px;
    }
    .size{
      color: rgba(#fff, .4);
      font-size: 11px;
    }
  }
  .operates{
    position: absolute;
    right: 15px;
    top: 14px;
    height: 32px;
    margin-top: 1px;
    .button{
      width: 32px;
      height: 32px;
      margin-left: 10px;
      padding: 0;
      background-color: rgba(#fff, .1);
      border-radius: 50%;
      color: rgba(#fff, .6);
      font-size: 16px;
      cursor: pointer;
      &:disabled{
        background-color: rgba(#fff, .05);
        color: rgba(#fff, .1);
        pointer-events: none;
      }
      &:hover{
        background-color: rgba(#fff, .2);
      }
      &:active{
        background-color: rgba(#fff, .3);
      }
    }
  }
}

.light-style{
  .component-task-analyzer{
    box-shadow: 0 5px 15px rgba(#000, .2);
    &::after{
      background-color: rgba(#fff, .5);
      box-shadow: 0 0 0 .5px rgba(#000, .1);
    }
    .total-optimized-rate{
      circle{
        stroke: rgba(#000, .1);
      }
    }
    .analyze-text{
      .count{
        color: rgba(#000, .6);
      }
      .size{
        color: rgba(#000, .4);
      }
    }
  }
}
