@import '~scssinc';

.component-task-bar {
  position: absolute;
  z-index: 10;
  right: 7px;
  bottom: 7px;
  left: 7px;
  width: 426px;
  height: 60px;
  transition: transform 0.4s;
  will-change: transform;
  overflow: hidden;
  &[data-visible='false'] {
    transform: translateY(100px);
  }
  .task-bar-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 426px;
    height: 60px;
    background-color: rgba(#fff, 0.2);
    border-radius: 10px;
    box-shadow: inset 0 0 0 0.5px rgba(#000, 0.2);
    backdrop-filter: blur(20px);
  }
  .file-pick-entry {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 42px;
    height: 42px;
    margin-left: 10px;
    border-radius: 50%;
    .button-pick-files {
      position: relative;
      width: 42px;
      height: 42px;
      padding: 0;
      background-color: transparent;
      border: none;
      border-radius: 50%;
      outline: none;
      transition: transform 0.4s;
      will-change: transform;
      &::before,
      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: #777;
        content: '';
        transform: translate(-50%, -50%);
      }
      &::before {
        width: 2px;
        height: 18px;
      }
      &::after {
        width: 18px;
        height: 2px;
      }
      &:hover {
        transform: rotate(90deg);
      }
    }
  }
  .meta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    margin: 0 0 0 15px;
    .count {
      color: rgba(#000, 0.6);
      font-size: 12px;
      font-weight: 500;
    }
    .analyze {
      color: rgba(#000, 0.4);
      font-size: 11px;
    }
  }
  .operates {
    display: flex;
    align-items: center;
    margin-right: 10px;
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      margin-left: 5px;
      background-color: rgba(#000, 0.1);
      border: none;
      border-radius: 50%;
      outline: none;
      color: rgba(#000, 0.4);
      font-size: 14px;
      &:disabled {
        opacity: 0.5;
        pointer-events: none;
      }
      &.invert {
        transform: scaleX(-1);
      }
      &:hover {
        background-color: rgba(#000, 0.15);
      }
    }
  }
}

.system-windows .component-task-bar {
  width: 100vw;
  bottom: -1px;
  left: 0;
  .task-bar-inner {
    width: 100vw;
    height: 60px;
    border-radius: 0;
    box-shadow: inset 0 0.5px 0 0 rgba(#000, 0.2);
  }
}

body[data-theme='dark'] {
  &.system-windows .component-task-bar {
    .task-bar-inner {
      border-radius: 0;
    }
  }
  .component-task-bar {
    .task-bar-inner {
      background-color: rgba(#fff, 0.3);
      box-shadow: inset 0 0 0 0.5px rgba(#fff, 0.25);
      .file-pick-entry {
        .button-pick-files {
          background-color: rgba(#000, 0.1);
          &:hover {
            background-color: rgba(#000, 0.15);
          }
          &::before,
          &::after {
            background-color: #fff;
          }
        }
      }
      .meta {
        .count {
          color: rgba(#000, 0.6);
        }
        .analyze {
          color: rgba(#000, 0.5);
        }
      }
      .operates {
        display: flex;
        align-items: center;
        margin-right: 10px;
        button {
          background-color: rgba(#000, 0.1);
          color: #fff;
          &:hover {
            background-color: rgba(#000, 0.15);
          }
        }
      }
    }
  }
}
