@import '~scssinc';

.component-task-bar {
  position: absolute;
  z-index: 10;
  right: 7px;
  bottom: 7px;
  left: 7px;
  width: 426px;
  height: 60px;
  transition: transform 0.4s;
  will-change: transform;
  overflow: hidden;
  &[data-visible='false'] {
    transform: translateY(100px);
  }
  .task-bar-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 426px;
    height: 60px;
    background-color: rgba(#fff, 0.3);
    border-radius: 10px;
    box-shadow: inset 0 0 0 0.5px rgba(#000, 0.2);
    backdrop-filter: blur(15px);
  }
  .file-pick-entry {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    background-color: #eee;
    border-radius: 50%;
    .button-pick-files {
      position: relative;
      width: 40px;
      height: 40px;
      background-color: $COLOR_PRIMARY;
      border: none;
      border-radius: 50%;
      outline: none;
      cursor: pointer;
      &::before,
      &::after {
        position: absolute;
        top: 19px;
        left: 11px;
        width: 18px;
        height: 2px;
        background-color: #fff;
        content: '';
      }
      &::after {
        transform: rotate(90deg);
      }
      &:hover {
        background-color: darken($COLOR_PRIMARY, 5);
      }
    }
  }
  .meta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    margin: 0 0 0 15px;
    .count {
      color: #444;
      font-size: 12px;
      font-weight: 500;
    }
    .analyze {
      color: #777;
      font-size: 11px;
    }
  }
  .operates {
    display: flex;
    align-items: center;
    margin-right: 10px;
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      margin-left: 5px;
      background-color: rgba($COLOR_PRIMARY, 0.1);
      border: none;
      border-radius: 50%;
      outline: none;
      color: $COLOR_PRIMARY;
      font-size: 14px;
      cursor: pointer;
      &:disabled {
        opacity: 0.5;
        pointer-events: none;
      }
      &.invert {
        transform: scaleX(-1);
      }
      &:hover {
        background-color: rgba($COLOR_PRIMARY, 0.15);
      }
    }
  }
}

.system-windows .component-task-bar {
  width: 100vw;
  bottom: -1px;
  left: 0;
  .task-bar-inner {
    width: 100vw;
    height: 60px;
    border-radius: 0;
    box-shadow: inset 0 0.5px 0 0 rgba(#000, 0.2);
  }
}

body[data-theme='dark'] {
  &.system-windows .component-task-bar {
    .task-bar-inner {
      border-radius: 0;
    }
  }
  .component-task-bar {
    .task-bar-inner {
      background-color: rgba(#000, 0.4);
      border-radius: 5px;
      box-shadow: none; //inset 0 0 0 0.5px rgba(#000, 0.3);
      .meta {
        .count {
          color: rgba(#fff, 0.8);
        }
        .analyze {
          color: rgba(#fff, 0.5);
        }
      }
    }
  }
}
