@import '~scssinc';

.component-progress-circle {
  position: absolute;
  top: 9px;
  left: 8px;
  width: 44px;
  height: 44px;
  display: block;
  fill: none;
  overflow: visible;
  transform: rotate(-89.5deg);
  line-height: 0;
  circle {
    display: block;
    transition: 0.3s;
    transition: stroke-dasharray 0.2s;
    will-change: stroke-dasharray;
  }
  .circle {
    fill: none;
    stroke: rgba(#000, 0.2);
  }
  .played {
    fill: none;
    stroke: #69e49f; //$COLOR_SUCCESS; //rgba(#000, 0.4);
  }
}
