@import "~scssinc";

.component-pagination{
  display: flex;
  justify-content: center;
  &.size-small{
    button{
      width: 32px;
      height: 32px;
    }
  }
  &.size-medium{
    button{
      width: 36px;
      height: 36px;
    }
  }
  &.size-large{
    button{
      width: 40px;
      height: 40px;
    }
  }
  button{
    margin: 0 7px;
    background-color: #fff;
    border: none;
    border-radius: 3px;
    outline: none;
    color: $COLOR_CAPTION;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    &[data-active="true"]{
      @include primary_gradient;
      @include primary_shadow;
      color: #fff;
      cursor: default;
      pointer-events: none;
    }
    &:disabled{
      opacity: .5;
      cursor: default;
      pointer-events: none;
    }
    &:hover{
      background-color: #f8f9fa;
    }
    i{
      display: block;
    }
  }
}