@import '~scssinc';

.component-task-item {
  position: relative;
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  height: 60px;
  padding: 0 0 0 15px;
  background-color: #fff;
  &::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 1px;
    box-shadow: inset 0 -0.5px 0 0 rgba(#000, 0.15);
    content: '';
  }
  &:last-child::after {
    content: none;
  }
  .status-icon {
    width: 6px;
    height: 40px;
    margin: 0 12px 0 0;
    i {
      display: block;
      box-sizing: border-box;
      width: 6px;
      height: 6px;
      margin: 17px 0;
      background-color: rgba(#000, 0.2);
      border-radius: 50%;
      &[data-status='2'] {
        //PROCESSING
        width: 8px;
        height: 8px;
        margin: 16px 0 0 -1px;
        background-color: transparent;
        border: solid 1px $COLOR_PRIMARY;
        border-bottom-color: transparent;
        animation: spinning infinite 1s;
      }
      &[data-status='3'] {
        //COMPLETE
        background-color: $COLOR_SUCCESS;
      }
      &[data-status='4'] {
        //FAIL
        background-color: $COLOR_DANGER;
      }
      &[data-status='5'] {
        //RESTORED
        background-color: $COLOR_WARNING;
      }
    }
  }
  .thumb {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 32px;
    margin-right: 12px;
    overflow: hidden;
    .thumb-image {
      box-sizing: border-box;
      width: auto;
      height: auto;
      max-width: 40px;
      max-height: 32px;
      -webkit-user-drag: none;
    }
    .optimized-image {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 40px;
      height: 32px;
      opacity: 0;
    }
    & + .meta .name {
      max-width: 12rem;
    }
  }
  .thumb-holder {
    display: block;
    color: rgba(#fff, 0.5);
    font-size: 12px;
    line-height: 32px;
    text-align: center;
  }
  .fake-thumb {
    box-sizing: border-box;
    width: 40px;
    height: 32px;
    margin-right: 12px;
    background-color: #eee;
    color: lighten($COLOR_CAPTION, 30);
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 28px;
    text-transform: uppercase;
  }
  .meta {
    flex: 1;
    margin-top: -1px;
    overflow: hidden;
    user-select: none;
    .name {
      display: block;
      max-width: 18em;
      overflow: hidden;
      color: $COLOR_CAPTION;
      font-size: 12px;
      line-height: 14px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .description-text {
      display: flex;
      color: lighten($COLOR_CAPTION, 20);
      font-size: 10px;
      i {
        padding: 0 3px;
      }
      .optimize-rate {
        padding-left: 5px;
      }
    }
  }
  .operates {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    .button {
      display: block;
      width: 22px;
      height: 22px;
      margin-left: 5px;
      background-color: #fff;
      border-radius: 11px;
      box-shadow: 0 0 0 0.5px rgba(#000, 0.2), inset 0 0.5px 0 0 rgba(#fff, 0.1),
        0 1px 3px rgba(#000, 0.1);
      color: lighten($COLOR_CAPTION, 25);
      font-size: 12px;
      line-height: 22px;
      text-align: center;
      cursor: pointer;
      &:hover {
        background-color: #f8f9fa;
      }
      &[data-disabled='true'] {
        opacity: 0.3;
        pointer-events: none;
      }
    }
  }
}
