@import "~scssinc";

.component-task-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 56px;
  &:nth-child(even){
    box-shadow: inset 0 -.5px 0 0 rgba(#000, .3), inset 0 .5px 0 0 rgba(#000, .3);
  }
  &[data-status="0"],
  &[data-status="1"],
  &[data-status="2"]{
    .operates{
      .button-restore,
      .button-compare,
      .button-recompress{
        opacity: .3;
        pointer-events: none;
      }
    }
  }
  &[data-status="3"]{
    .operates{
      .button-recompress{
        opacity: .3;
        pointer-events: none;
      }
    }
  }
  &[data-status="4"]{
    .operates{
      .button-restore,
      .button-compare{
        opacity: .3;
        pointer-events: none;
      }
    }
  }
  &[data-status="5"]{
    .operates{
      .button-restore,
      .button-compare{
        opacity: .3;
        pointer-events: none;
      }
    }
  }
  .status-icon{
    width: 40px;
    height: 40px;
    i{
      display: block;
      width: 16px;
      height: 16px;
      margin: 12px;
      font-size: 16px;
      &.icon-check{
        color: $COLOR_SUCCESS;
      }
      &.icon-x{
        color: $COLOR_DANGER;
      }
      &.icon-clock{
        color: rgba(#fff, .5);
      }
      &.icon-shield{
        color: $COLOR_PRIMARY;
      }
      &.spinning{
        border: 1px solid $COLOR_PRIMARY;
        border-bottom-color: transparent;
        border-radius: 50%;
        @include linear_spinning;
      }
    }
  }
  .thumb{
    box-sizing: border-box;
    width: 40px;
    height: 32px;
    overflow: hidden;
    background-color: rgba(#fff, .1);
    border: 2px solid #fff;
    object-fit: cover;
    -webkit-user-drag: none;
  }
  .thumb-holder{
    display: block;
    color: rgba(#fff, .3);
    font-size: 12px;
    line-height: 32px;
    text-align: center;
  }
  .meta{
    flex: 1;
    margin: -1px 0 0 15px;
    overflow: hidden;
    user-select: none;
    .name{
      display: block;
      overflow: hidden;
      color: rgba(#fff, .8);
      font-size: 12px;
      font-weight: 500;
      text-overflow: ellipsis;
      text-transform: uppercase;
      white-space: nowrap;
    }
    .description-text{
      display: flex;
      color: rgba(#fff, .4);
      font-size: 11px;
      i{
        padding: 0 3px;
      }
      .optimize-rate{
        padding-left: 5px;
      }
    }
  }
  .operates{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 72px;
    margin-right: 10px;
    overflow: hidden;
    background-color: rgba(#000, .2);
    border-radius: 2px;
    box-shadow: 0 0 0 .5px rgba(#000, .4), inset 0 .5px 0 0 rgba(#fff, .1);
    .button{
      display: block;
      width: 24px;
      height: 24px;
      border-radius: 0;
      box-shadow: .5px 0 0 0 rgba(#000, .2);
      color: rgba(#fff, .6);
      font-size: 11px;
      line-height: 26px;
      text-align: center;
      cursor: pointer;
      &:hover{
        background-color: rgba(#000, .1);
        color: $COLOR_PRIMARY;
      }
    }
  }
}