@import '~scssinc';

.component-task-item {
  position: relative;
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  width: 418px;
  height: 60px;
  margin: 5px 10px;
  padding: 0 0 0 15px;
  background-color: #fff;
  box-shadow: inset 0 0 0 0.5px rgba(#000, 0.15);
  border-radius: 10px;
  .status-icon {
    width: 6px;
    height: 40px;
    margin: 0 12px 0 0;
    i {
      display: block;
      box-sizing: border-box;
      width: 6px;
      height: 6px;
      margin: 17px 0;
      background-color: rgba(#000, 0.15);
      border-radius: 50%;
      &[data-status='2'] {
        //PROCESSING
        width: 8px;
        height: 8px;
        margin: 16px 0 0 -1px;
        background-color: transparent;
        border: solid 1px $COLOR_PRIMARY;
        border-bottom-color: transparent;
        animation: spinning infinite 1s;
      }
      &[data-status='3'] {
        //COMPLETE
        background-color: $COLOR_SUCCESS;
      }
      &[data-status='4'] {
        //FAIL
        background-color: $COLOR_DANGER;
      }
      &[data-status='5'] {
        //RESTORED
        background-color: $COLOR_WARNING;
      }
    }
  }
  .thumb {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 32px;
    margin-right: 12px;
    overflow: hidden;
    .thumb-image {
      box-sizing: border-box;
      width: auto;
      height: auto;
      max-width: 40px;
      max-height: 32px;
      -webkit-user-drag: none;
    }
    .optimized-image {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 40px;
      height: 32px;
      opacity: 0;
    }
    & + .meta .name {
      max-width: 12rem;
    }
  }
  .thumb-holder {
    display: block;
    color: #666;
    font-size: 12px;
    line-height: 32px;
    text-align: center;
  }
  .fake-thumb {
    box-sizing: border-box;
    width: 40px;
    height: 32px;
    margin-right: 12px;
    background-color: #f3f4f5;
    box-shadow: inset 0 0 0 0.5px rgba(#000, 0.15);
    color: #999;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 32px;
    text-transform: uppercase;
  }
  .meta {
    flex: 1;
    margin-top: -1px;
    overflow: hidden;
    user-select: none;
    .name {
      display: block;
      max-width: 18em;
      overflow: hidden;
      color: #666;
      font-size: 12px;
      line-height: 14px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .description-text {
      display: flex;
      align-items: center;
      color: #aaa;
      font-size: 10px;
      i {
        padding: 0 3px;
      }
      .optimize-rate {
        padding-left: 5px;
      }
    }
  }
  .operates {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    .button {
      display: block;
      width: 22px;
      height: 22px;
      margin-left: 5px;
      color: #999;
      font-size: 12px;
      line-height: 22px;
      text-align: center;
      cursor: pointer;
      &-recompress {
        transform: scaleX(-1);
      }
      &:hover {
        color: $COLOR_PRIMARY;
      }
      &[data-disabled='true'] {
        opacity: 0.3;
        pointer-events: none;
      }
    }
  }
}

.system-windows .component-task-item {
  width: auto;
  margin: 0;
  border-radius: 0;
  box-shadow: inset 0 -0.5px 0 0 rgba(#000, 0.15);
  &:last-child {
    box-shadow: none;
  }
}

body[data-theme='dark'] {
  &.system-windows .component-task-item {
    background-color: transparent;
    border-radius: 0;
    box-shadow: inset 0 -0.5px 0 0 rgba(#000, 0.4);
  }
  .component-task-item {
    background-color: rgba(#fff, 0.1);
    border-radius: 5px;
    box-shadow: inset 0 0 0 0.5px rgba(#fff, 0.15);
    .meta {
      .name {
        color: #aaa;
      }
      .description-text {
        color: #777;
      }
    }
  }
}
