@import "~scssinc";

.component-task-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  margin-left: 15px;
  box-shadow: inset 0 -.5px 0 0 rgba(#fff, .1);
  &:last-child{
    box-shadow: none;
  }
  &[data-status="0"],
  &[data-status="1"],
  &[data-status="2"]{
    .operates{
      .button-restore,
      .button-compare,
      .button-recompress{
        opacity: .3;
        pointer-events: none;
      }
    }
  }
  &[data-status="3"]{
    .operates{
      .button-recompress{
        opacity: .3;
        pointer-events: none;
      }
    }
  }
  &[data-status="4"]{
    .operates{
      .button-restore,
      .button-compare{
        opacity: .3;
        pointer-events: none;
      }
    }
  }
  &[data-status="5"]{
    .operates{
      .button-restore,
      .button-compare{
        opacity: .3;
        pointer-events: none;
      }
    }
  }
  .status-icon{
    width: 20px;
    height: 40px;
    margin-right: 10px;
    i{
      display: block;
      box-sizing: border-box;
      width: 20px;
      height: 20px;
      margin: 10px 0;
      font-size: 20px;
      line-height: 20px;
      text-align: center;
      &.spinning,
      &.mdi-check{
        width: 16px;
        height: 16px;
        margin: 12px 0 0 0px;
        font-size: 12px;
        line-height: 16px;
      }
      &.mdi-check{
        color: $COLOR_SUCCESS;
        font-size: 12px;
        border: 1px solid $COLOR_SUCCESS;
        border-radius: 50%;
      }
      &.mdi-alert-circle-outline{
        color: $COLOR_DANGER;
      }
      &.mdi-progress-clock{
        color: rgba(#fff, .1);
      }
      &.mdi-rotate-left{
        color: $COLOR_PRIMARY;
      }
      &.spinning{
        border: 1px solid $COLOR_PRIMARY;
        border-bottom-color: transparent;
        border-radius: 50%;
        @include linear_spinning;
      }
    }
  }
  .thumb{
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    margin-right: 12px;
    overflow: hidden;
    background-color: rgba(#fff, .5);
    // border: 2px solid #fff;
    // border-radius: 50%;
    object-fit: cover;
    -webkit-user-drag: none;
    & + .meta .name{
      max-width: 12rem;
    }
  }
  .thumb-holder{
    display: block;
    color: rgba(#fff, .5);
    font-size: 12px;
    line-height: 32px;
    text-align: center;
  }
  .meta{
    flex: 1;
    margin-top: -1px;
    overflow: hidden;
    user-select: none;
    .name{
      display: block;
      max-width: 18em;
      overflow: hidden;
      color: rgba(#fff, .8);
      font-size: 12px;
      font-weight: 500;
      text-overflow: ellipsis;
      text-transform: uppercase;
      white-space: nowrap;
    }
    .description-text{
      display: flex;
      color: rgba(#fff, .4);
      font-size: 11px;
      i{
        padding: 0 3px;
      }
      .optimize-rate{
        padding-left: 5px;
      }
    }
  }
  .operates{
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    .button{
      display: block;
      margin: 0 3px;
      background-color: transparent;
      color: rgba(#fff, .5);
      font-size: 12px;
      cursor: pointer;
      &:hover{
        color: $COLOR_PRIMARY;
      }
    }
  }
}

.light-style .component-task-item{
  box-shadow: inset 0 -.5px 0 0 rgba(#000, .1);
  .status-icon{
    .mdi-clock{
      color: #ccc;
    }
  }
  .thumb{
    background-color: #eee;
    box-shadow: 0 1px 3px rgba(#000, .1);
  }
  .thumb-holder{
    color: #ccc;
  }
  .meta{
    .name{
      color: #333;
    }
    .description-text{
      color: #666;
    }
  }
  .operates{
    .button{
      // background-color: #f5f5f5;
      color: #777;
      &:hover{
        color: $COLOR_PRIMARY;
      }
    }
  }
}