@import "~scssinc";

.component-input{
  position: relative;
  &.size-small{
    height: 32px;
    font-size: 14px;
    input{
      height: 32px;
    }
    label{
      line-height: 32px;
    }
  }
  &.size-medium{
    height: 36px;
    font-size: 16px;
    input{
      height: 36px;
    }
    label{
      line-height: 36px;
    }
  }
  &.size-large{
    height: 40px;
    font-size: 18px;
    input{
      height: 40px;
    }
    label{
      line-height: 40px;
    }
  }
  &.with-normal-label{
    margin: 0;
    // overflow: hidden;
    input{
      padding: 0 10px;
      border: 1px solid #ddd;
      border-radius: 2px;
      outline: none;
      font-size: 1em;
      &:focus{
        border-color: $COLOR_PRIMARY;
      }
    }
    label{
      float: left;
      margin-right: 10px;
      color: #444;
      font-size: 14px;
      text-align: right;
    }
    .tip-text{
      display: block;
      margin-top: 3px;
      color: #666;
      font-size: 0.8em;
    }
  }
  &.with-animated-label{
    margin-top: 40px;
    input{
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      color: #333;
      font-size: 1em;
      border: none;
      border-bottom: 1px solid #ddd;
      outline: none;
      &:focus{
        border-color: $COLOR_PRIMARY;
      }
      &:not(:placeholder-shown) + label,
      &:focus + label{
        color: #666;
        transform: scale(.8) translateY(-70%);
      }
    }
    label{
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100%;
      color: #666;
      font-size: 1em;
      pointer-events: none;
      transform-origin: 0 0;
      transition: transform .3s;
    }
    .tip-text{
      display: block;
      margin-top: 3px;
      color: #666;
      font-size: 0.8em;
    }
  }
  .button-clear-input{
    position: absolute;
    top: 50%;
    right: 0;
    width: 16px;
    height: 16px;
    background-color: #c9c9c9;
    border-radius: 50%;
    transform: translateY(-8px);
    &:hover{
      background-color: #b9b9b9;
    }
    i{
      display: block;
      width: 16px;
      height: 16px;
      color: #fff;
      font-size: 14px;
      text-align: center;
      line-height: 16px;
    }
  }
}