@import "~scssinc";

.component-compare-title-bar{
  position: absolute;
  z-index: 999999;
  width: 100%;
  height: $TITLE_BAR_HEIGHT;
  margin: 0 auto;
  background-color: rgba($COLOR_DARK, .9);
  background-image: linear-gradient(rgba(#000, 0), rgba(#000, .2));
  box-shadow: inset 0 -.5px 0 0 rgba(#000, .8);
  backdrop-filter: blur(10px);
  text-align: center;
  user-select: none;
  -webkit-app-region: drag;
  .button{
    -webkit-app-region: no-drag;
  }
  .app-title{
    display: block;
    height: 24px;
    color: rgba(#fff, .8);
    font-size: 13px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
  }
  .title-bar-operates{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 20px;
    padding: 2px 11px 0 9px;
  }
  .window-state{
    display: flex;
    width: 180px;
    align-items: flex-start;
    .button{
      margin-right: 3px;
      &-zoom-in{
        margin: 0;
        border-radius: 3px 0 0 3px;
      }
      &-zoom-out{
        border-radius: 0 3px 3px 0;
      }
    }    
    .zoom-scale-select{
      width: 70px;
      -webkit-app-region: no-drag;
    }
  }
  .task-analyze{
    color: rgba(#fff, .6);
    font-size: 12px;
    line-height: 20px;
    b{
      padding-right: 5px;
    }
    i{
      padding: 0 3px;
    }
  }
  .operates{
    display: flex;
    width: 180px;
    align-items: flex-start;
    justify-content: flex-end;
    .button-restore{
      margin-right: 10px;
    }
    .button-prev{
      margin-right: 3px;
    }
  }
}

.light-style .component-compare-title-bar{
  background-color: rgba(#f9f9f9, .9);
  background-image: linear-gradient(rgba(#000, 0), rgba(#000, .2));
  box-shadow: 0 .5px 0 0 rgba(#000, .35);
  .app-title{
    color: #555;
  }
  .window-state{
    .zoom-scale{
      color: #555;
    }
  }
  .task-analyze{
    color: #666;
  }
}