@import '~scssinc';

// $TITLE_BAR_HEIGHT: 36px;

.component-compare-title-bar {
  position: relative;
  z-index: 999999;
  width: 100%;
  height: $TITLE_BAR_HEIGHT;
  margin: 0 auto;
  overflow: hidden;
  background-color: #f1f2f3;
  box-shadow: inset 0 -0.5px 0 0 rgba(#000, 0.4), 0 1px 3px rgba(#000, 0.1);
  border-radius: 5px 5px 0 0;
  text-align: center;
  user-select: none;
  -webkit-app-region: drag;
  .button {
    -webkit-app-region: no-drag;
  }
  .app-title {
    display: block;
    max-width: 50%;
    height: $TITLE_BAR_HEIGHT;
    margin: 0 auto;
    overflow: hidden;
    color: #666;
    font-size: 13px;
    font-weight: 500;
    line-height: $TITLE_BAR_HEIGHT;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .window-state {
    position: absolute;
    top: 0;
    right: 10px;
    display: flex;
    align-items: center;
    width: 180px;
    height: $TITLE_BAR_HEIGHT;
    .button {
      margin-right: 3px;
      padding: {
        right: 10px;
        left: 10px;
      }
      font-size: 14px;
      &-zoom-in {
        margin: 0;
        border-radius: 3px 0 0 3px;
      }
      &-zoom-out {
        border-radius: 0 3px 3px 0;
      }
    }
    .zoom-scale-select {
      width: 70px;
      -webkit-app-region: no-drag;
    }
  }
}
