@import '~scssinc';

// $TITLE_BAR_HEIGHT: 36px;

.component-compare-title-bar {
  position: relative;
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  height: $TITLE_BAR_HEIGHT;
  margin: 0 auto;
  padding: 0 10px;
  overflow: hidden;
  background-image: linear-gradient(to bottom, #fff, #f1f2f3);
  box-shadow: inset 0 -0.5px 0 0 rgba(#000, 0.4), 0 1px 3px rgba(#000, 0.1);
  text-align: center;
  user-select: none;
  -webkit-app-region: drag;
  .app-title {
    display: block;
    max-width: 50%;
    height: $TITLE_BAR_HEIGHT;
    margin: 0 auto;
    overflow: hidden;
    color: #666;
    font-size: 13px;
    font-weight: 500;
    line-height: $TITLE_BAR_HEIGHT;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .window-buttons,
  .window-state {
    width: 200px;
    -webkit-app-region: no-drag;
  }
  .window-buttons {
    display: none;
    align-items: center;
    justify-content: flex-end;
    .button-minimize,
    .button-close {
      width: 24px;
      height: 24px;
      background-color: transparent;
      border: none;
      outline: none;
    }
    .button-minimize {
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover::before {
        background-color: $COLOR_WARNING;
      }
      &::before {
        width: 18px;
        height: 2px;
        background-color: #666;
        content: '';
      }
    }
    .button-close {
      position: relative;
      transform: rotate(45deg);
      &:hover::before,
      &:hover::after {
        background-color: $COLOR_DANGER;
      }
      &::before,
      &::after {
        position: absolute;
        top: 11px;
        left: 7px;
        width: 10px;
        height: 2px;
        background-color: #666;
        content: '';
      }
      &::after {
        transform: rotate(90deg);
      }
    }
  }
  .window-state {
    display: flex;
    align-items: center;
    width: 180px;
    height: $TITLE_BAR_HEIGHT;
    .button {
      margin-right: 3px;
      padding: {
        right: 10px;
        left: 10px;
      }
      font-size: 14px;
      &-zoom-in {
        margin: 0;
        border-radius: 3px 0 0 3px;
      }
      &-zoom-out {
        border-radius: 0 3px 3px 0;
      }
    }
    .zoom-scale-select {
      width: 70px;
      -webkit-app-region: no-drag;
    }
  }
}

.system-windows .component-compare-title-bar {
  flex-direction: row-reverse;
  background-color: #f8f9fa;
  background-image: none;
  box-shadow: 0 0.5px 0 0 rgba(#000, 0.2), 0 1px 5px rgba(#000, 0.1);
  .window-buttons {
    display: flex;
  }
  .window-state {
    .button {
      border-radius: 0;
    }
  }
}
