@import "~scssinc";

.component-task-list{
  flex: 1;
  box-sizing: border-box;
  margin: 0;
  padding: $TITLE_BAR_HEIGHT - 2 0 0 0;
  overflow: auto;
  list-style: none;
  background-attachment: local;
  background-color: lighten($COLOR_DARK, 0);
  background-image: linear-gradient(rgba(#000, 0) 0, rgba(#000, 0) 50px, rgba(#000, .1) 50px, rgba(#000, .1) 112px);
  background-position: 0 $TITLE_BAR_HEIGHT - 2;
  background-repeat: repeat-y;
  background-size: 100% 100px;
  opacity: 0;
  transition: transform .4s, opacity .4s;
  transform: translateX(50px);
}

.light-style{
  .component-task-list{
    background-color: #fff;
    background-image: linear-gradient(rgba(#fff, 0) 0, rgba(#fff, 0) 50px, rgba(#000, .06) 50px, rgba(#000, .06) 112px);
  }
}