@import '~scssinc';

.component-task-list {
  flex: 1;
  box-sizing: border-box;
  margin: 0;
  padding: 5px 0 70px 0;
  overflow: auto;
  list-style: none;
  opacity: 0;
  background-color: transparent;
  transition: transform 0.4s, opacity 0.4s;
  transform: translateX(50px);
  &::-webkit-scrollbar-track {
    margin-bottom: 70px;
  }
}
