@import '~scssinc';

.component-task-list {
  flex: 1;
  box-sizing: border-box;
  min-height: 100%;
  margin: 0;
  padding: 5px 0 70px 0;
  overflow: auto;
  list-style: none;
  opacity: 0;
  background-color: #f8f9fa;
  transition: transform 0.4s, opacity 0.4s;
  transform: translateX(50px);
  &[data-visible='true'] {
    opacity: 1;
    transform: translateX(0);
  }
  &::-webkit-scrollbar-track {
    margin-bottom: 70px;
  }
}

.system-windows .component-task-list {
  padding: 0 0 59px 0;
  &::-webkit-scrollbar-track {
    margin-bottom: 59px;
  }
}
