@import "~scssinc";

.component-task-list{
  flex: 1;
  box-sizing: border-box;
  margin: 0;
  padding: 0 0 80px 0;
  overflow: auto;
  list-style: none;
  opacity: 0;
  transition: transform .4s, opacity .4s;
  transform: translateX(50px);
  &::-webkit-scrollbar-track{
    margin-bottom: 60px;
  }  
}