@import "~scssinc";

.component-task-list{
  flex: 1;
  box-sizing: border-box;
  margin: 0;
  padding: 37px 0 0 0;
  overflow: auto;
  list-style: none;
  background-attachment: local;
  background-image: linear-gradient(rgba(#000, 0) 0, rgba(#000, 0) 56px, rgba(#000, .1) 56px, rgba(#000, .1) 112px);
  background-position: 0 37px;
  background-repeat: repeat-y;
  background-size: 100% 112px;
  opacity: 0;
  transition: transform .4s, opacity .4s;
  transform: translateX(50px);
}