@import "~scssinc";

.component-task-list{
  flex: 1;
  box-sizing: border-box;
  margin: 0;
  padding: 0 0 100px 0;
  overflow: auto;
  list-style: none;
  background-attachment: local;
  background-position: 0 $TITLE_BAR_HEIGHT - 2;
  background-repeat: repeat-y;
  background-size: 100% 100px;
  opacity: 0;
  transition: transform .4s, opacity .4s;
  transform: translateX(50px);
}