@import '~scssinc';

.component-switch {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 20px;
  &[data-checked='true'] {
    .switch-core {
      background-color: $COLOR_PRIMARY;
      &::before {
        left: 4px;
        background-color: #fff;
        transform: translateX(100%);
      }
    }
  }
  .switch-label {
    padding-right: 5px;
    color: rgba(#fff, 0.8);
    font-size: 10px;
    line-height: 16px;
  }
  .switch-core {
    position: relative;
    width: 26px;
    height: 14px;
    background-color: #f8f9fa;
    border-radius: 7px;
    box-shadow: inset 0 0 0 0.5px rgba(#000, 0.3);
    transition: background-color 0.3s;
    &::before {
      position: absolute;
      top: 2px;
      left: 2px;
      display: block;
      width: 10px;
      height: 10px;
      background-color: #ccc;
      border-radius: 5px;
      content: '';
      transition: 0.3s;
    }
  }
}
