@import "~scssinc";

.component-switch{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 20px;
  &[data-checked="true"]{
    .switch-core{
      background-color: $COLOR_PRIMARY;
      &::before{
        transform: translateX(100%);
      }
    }
  }
  .switch-label{
    padding-right: 5px;
    color: rgba(#fff, .8);
    font-size: 10px;
    line-height: 16px;
  }
  .switch-core{
    position: relative;
    width: 32px;
    height: 14px;
    background-color: rgba(#fff, .1);
    border-radius: 7px;
    transition: background-color .3s;
    &::before{
      position: absolute;
      top: -1px;
      left: -1px;
      display: block;
      width: 16px;
      height: 16px;
      background-color: lighten($COLOR_DARK, 15);
      border-radius: 8px;
      content: '';
      transition: .3s;
    }
  }
}

.light-style .component-switch{
  &[data-checked="true"]{
    .switch-core{
      background-color: $COLOR_PRIMARY;
    }
  }
  .switch-label{
    color: #666;
  }
  .switch-core{
    background-color: #fff;
    box-shadow: inset 0 0 0 .5px rgba(#000, .3);
    &::before{
      background-color: #fff;//lighten($COLOR_DARK, 25);
      box-shadow: inset 0 .5px 0 0 rgba(#fff, .3), 0 0 0 .5px rgba(#000, .2), 0 1px 3px rgba(#000, .2);
    }
  }
}