@import "~scssinc";

.component-preferences{
  overflow: hidden;
  .tab-header{
    display: flex;
    height: 70px;
    margin-bottom: 25px;
    padding: 15px 15px 0 15px;
    background-color: rgba(#000, .2);
    box-shadow: 0 .5px 0 0 rgba(#000, .6);
    .tab-button{
      display: block;
      box-sizing: border-box;
      width: 60px;
      height: 70px;
      margin-right: 5px;
      padding-top: 50px;
      background-position: 50% 9px;
      background-repeat: no-repeat;
      background-size: 40px 40px;
      border-radius: 5px 5px 0 0;
      color: rgba(#fff, .5);
      font-size: 11px;
      line-height: 16px;
      text-align: center;
      &[data-active="true"]{
        background-color: rgba(#fff, .1);
      }
      &.button-common{
        background-image: url(../../../../assets/images/icon_common.png);
      }
      &.button-compress{
        background-image: url(../../../../assets/images/icon_image.png);
      }
      &.button-plugin{
        background-image: url(../../../../assets/images/icon_plugin.png);
      }
    }
  }
  .tab-content{
    .tab-item{
      display: none;
      min-height: 240px;
      padding: 0 15px 30px 15px;
      &[data-active="true"]{
        display: block;
      }
    }
  }
  .divider{
    display: block;
    height: 1px;
    margin: 15px 0;
    overflow: hidden;
    box-shadow: 0 .5px 0 0 rgba(#000, .3);
  }
  .option-group{
    height: 20px;
    margin: 15px 0 0 0;
    &[data-disabled="true"] {
      filter: grayscale(.7);
      opacity: .3;
      cursor: not-allowed;
      .label,
      .option{
        pointer-events: none;
      }
    }
    .label{
      float: left;
      max-width: 24em;
      overflow: hidden;
      color: rgba(#fff, .6);
      font-size: 12px;
      line-height: 20px;
      white-space: nowrap;
      text-overflow: ellipsis;
      span{
        padding-right: 3px;
      }
      small{
        font-size: 10px;
        color: rgba(#fff, .3);
      }
      i{
        color: rgba(#fff, .3);
      }
    }
    .option{
      float: right;
      height: 20px;
      .button{
        display: block;
        font-size: 12px;
      }
    }
  }
  .options-table{
    margin: 6px 0 20px 0;
    overflow: hidden;
    background-color: rgba(0,0,0,.1);
    box-shadow: inset 0 0 0 .5px rgba(#000, .4);
    table{
      width: 100%;
      border-collapse: collapse;
    }
    th,td{
      font-size: 12px;
      text-align: left;
    }
    th{
      height: 26px;
      padding: 0 10px;
      color: rgba(#fff, .5);
      background-color: rgba(#000, .2);
    }
    tr{
      &:nth-child(even){
        background-color: rgba(#000, .1);
      }
      td{
        padding: 10px;
        color: rgba(#fff, .7);
      }
    }
  }
  .extensions-table{
    max-height: 180px;
    overflow: auto;
    .component-select select{
      width: 100%;
    }
  }
  .plugins-table{
    max-height: 225px;
    margin-bottom: 5px;
    overflow: auto;
    .caption{
      position: relative;
      height: 24px;
      margin: 0;
      color: rgba(#fff, .8);
      font-size: 13px;
      font-weight: bold;
      .title{
        line-height: 24px;
        small{
          color: $COLOR_DANGER;
          font-size: 11px;
          font-weight: normal;
        }
      }
    }
    .description{
      margin: 5px 0 5px 0;
      padding: 0;
      color: rgba(#fff, .4);
      font-size: 11px;
    }
    .operates{
      position: absolute;
      top: 2px;
      right: 0;
      margin-top: 0;
      span{
        color: rgba(#fff, .3);
        font-size: 11px;
      }
      a{
        display: inline-block;
        margin-left: 5px;
        padding: 0 5px;
        font-size: 11px;
      }
    }
  }
  .plugin-entry{
    // display: none;
    a{
      margin-right: 10px;
      color: rgba(#fff, .4);
      font-size: 12px;
      cursor: pointer;
      &:hover{
        color: rgba(#fff, .6);
      }
      i{
        font-size: 14px;
      }
    }
  }
}

.light-style .component-preferences{
  .tab-header{
    background-color: rgba(#000, .05);
    box-shadow: 0 .5px 0 0 rgba(#000, .2);
    .tab-button{
      color: rgba(#000, .5);
      &[data-active="true"]{
        background-color: rgba(#fff, .6);
      }
    }
  }
  .options-table{
    background-color: rgba(#000, .05);
    box-shadow: inset 0 0 0 .5px rgba(#000, .2);
    th{
      color: #555;
      background-color: rgba(#000, .1);
    }
    tr{
      &:nth-child(even){
        background-color: rgba(#000, .05);
      }
      td{
        color: #666;
      }
    }
  }
  .plugins-table{
    .caption{
      color: #666;
    }
    .description{
      color: #888;
    }
    .operates span{
      color: #999;
    }
    .button-default{
      color: #666;
    }
  }
  .option-group{
    .label{
      color: #555;
      small{
        color: #999;
      }
      i{
        color: #999;
      }
    }
  }
}