@import '~scssinc';

.component-preferences {
  overflow: hidden;
  .tab-header {
    display: flex;
    height: 60px;
    margin-bottom: 25px;
    padding: 10px 15px 0 15px;
    background-color: lighten($COLOR_DARK, 6);
    box-shadow: 0 0.5px 0 0 rgba(#000, 0.4);
    .tab-button {
      display: block;
      box-sizing: border-box;
      width: 60px;
      height: 60px;
      margin-right: 5px;
      padding-top: 40px;
      background-repeat: no-repeat;
      background-size: 40px 40px;
      border-radius: 5px 5px 0 0;
      color: rgba(#fff, 0.5);
      font-size: 11px;
      line-height: 16px;
      text-align: center;
      &[data-active='true'] {
        background-color: rgba(#fff, 0.05);
      }
      &.button-common {
        background-image: url(../../../../assets/images/icon_gears.png);
        background-size: 25px auto;
        background-position: 50% 10px;
      }
      &.button-compress {
        background-image: url(../../../../assets/images/icon_compress.png);
        background-size: 22px auto;
        background-position: 50% 12px;
      }
      &.button-plugin {
        background-image: url(../../../../assets/images/icon_plugin.png);
        background-size: 22px auto;
        background-position: 50% 10px;
      }
    }
  }
  .tab-content {
    .tab-item {
      display: none;
      min-height: 240px;
      padding: 0 15px 30px 15px;
      &[data-active='true'] {
        display: block;
      }
    }
  }
  .divider {
    display: block;
    height: 1px;
    margin: 15px 0;
    overflow: hidden;
    box-shadow: 0 0.5px 0 0 rgba(#000, 0.3);
  }
  .option-group {
    height: 20px;
    margin: 15px 0 0 0;
    &[data-disabled='true'] {
      filter: grayscale(0.7);
      opacity: 0.3;
      cursor: not-allowed;
      .label,
      .option {
        pointer-events: none;
      }
    }
    .label {
      float: left;
      max-width: 24em;
      overflow: hidden;
      color: rgba(#fff, 0.5);
      font-size: 12px;
      line-height: 20px;
      white-space: nowrap;
      text-overflow: ellipsis;
      span {
        padding-right: 3px;
      }
      small {
        font-size: 10px;
        color: rgba(#fff, 0.3);
      }
      i {
        color: rgba(#fff, 0.5);
      }
    }
    .option {
      float: right;
      height: 20px;
      .button {
        display: block;
        font-size: 12px;
      }
    }
  }
  .options-table {
    margin: 6px 0 20px 0;
    overflow: hidden;
    background-color: lighten($COLOR_DARK, 10);
    box-shadow: 0 0 0 0.5px rgba(#000, 0.4);
    table {
      width: 100%;
      border-collapse: collapse;
    }
    th,
    td {
      font-size: 12px;
      text-align: left;
    }
    th {
      height: 26px;
      padding: 0 10px;
      color: rgba(#fff, 0.5);
      background-color: lighten($COLOR_DARK, 15);
    }
    tr {
      &:nth-child(even) {
        background-color: lighten($COLOR_DARK, 12);
      }
      td {
        padding: 10px;
        color: rgba(#fff, 0.5);
      }
    }
  }
  .extensions-table {
    max-height: 300px;
    overflow: auto;
    .component-select select {
      width: 100%;
    }
  }
  .plugins-table {
    margin-bottom: 5px;
    .table-wrapper {
      max-height: 300px;
      overflow: auto;
    }
    .caption {
      position: relative;
      height: 24px;
      margin: 0;
      color: rgba(#fff, 0.5);
      font-size: 13px;
      font-weight: bold;
      .title {
        line-height: 24px;
        small {
          color: $COLOR_DANGER;
          font-size: 11px;
          font-weight: normal;
        }
      }
      .button {
        font-weight: normal;
      }
    }
    .description {
      margin: 5px 0 5px 0;
      padding: 0;
      color: rgba(#fff, 0.3);
      font-size: 11px;
    }
    .operates {
      position: absolute;
      top: 2px;
      right: 0;
      margin-top: 0;
      span {
        color: rgba(#fff, 0.3);
        font-size: 11px;
      }
      a {
        display: inline-block;
        margin-left: 5px;
        padding: 0 5px;
        font-size: 11px;
      }
    }
  }
  .plugin-entry {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    a {
      color: rgba(#fff, 0.4);
      font-size: 12px;
      cursor: pointer;
      &:hover {
        color: rgba(#fff, 0.6);
      }
      i {
        font-size: 14px;
      }
    }
  }
}

.plugin-options-modal {
  z-index: 99999 + 1;
}
