@import '~scssinc';

.component-preferences {
  overflow: hidden;
  .tab-header {
    position: relative;
    display: flex;
    height: 36px;
    margin-bottom: 40px;
    justify-content: center;
    box-shadow: 0 0.5px 0 0 rgba(#000, 0.2);
    .tab-button {
      position: relative;
      z-index: 3;
      display: block;
      box-sizing: border-box;
      height: 26px;
      margin-top: 23px;
      padding: 0 20px;
      background-image: linear-gradient(to bottom, #fff, #f1f2f3);
      border: none;
      outline: none;
      border-radius: 0;
      box-shadow: 0 0 0 0.5px rgba(#000, 0.2);
      color: #333;
      font-size: 12px;
      line-height: 26px;
      text-align: center;
      &[data-active='true'] {
        z-index: 4;
        background-color: $COLOR_PRIMARY;
        background-image: linear-gradient(to bottom, rgba(#fff, 0.1), rgba(#fff, 0));
        box-shadow: 0 0 0 0.5px darken($COLOR_PRIMARY, 10);
        color: #fff;
      }
      &.button-common {
        border-radius: 3px 0 0 3px;
      }
      &.button-about {
        border-radius: 0 3px 3px 0;
      }
    }
  }
  .tab-content {
    .tab-item {
      display: none;
      min-height: 240px;
      padding: 0 15px 30px 15px;
      &[data-active='true'] {
        display: block;
      }
    }
  }
  .divider {
    display: block;
    height: 1px;
    margin: 15px 0;
    overflow: hidden;
    box-shadow: 0 0.5px 0 0 rgba(#000, 0.2);
  }
  .option-group {
    height: 20px;
    margin: 15px 0 0 0;
    &[data-disabled='true'] {
      filter: grayscale(0.7);
      opacity: 0.3;
      cursor: not-allowed;
      .label,
      .option {
        pointer-events: none;
      }
    }
    .label {
      float: left;
      max-width: 24em;
      overflow: hidden;
      color: #666;
      font-size: 12px;
      line-height: 20px;
      white-space: nowrap;
      text-overflow: ellipsis;
      span {
        padding-right: 3px;
      }
      small {
        font-size: 10px;
        color: #999;
      }
      i {
        color: #666;
      }
    }
    .option {
      float: right;
      height: 20px;
      .button {
        display: block;
        font-size: 12px;
      }
    }
  }
  .options-table {
    margin: 6px 0 20px 0;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 0 0 0.5px rgba(#000, 0.2);
    color: #666;
    table {
      width: 100%;
      border-collapse: collapse;
    }
    th,
    td {
      font-size: 12px;
      text-align: left;
    }
    th {
      height: 26px;
      padding: 0 10px;

      background-color: rgba(#000, 0.15);
    }
    tr {
      &:nth-child(even) {
        background-color: rgba(#000, 0.1);
      }
      td {
        padding: 10px;
      }
    }
  }
  .extensions-table {
    max-height: 300px;
    overflow: auto;
    .component-select select {
      width: 100%;
    }
  }
  .plugins-table {
    margin-bottom: 5px;
    .table-wrapper {
      max-height: 300px;
      overflow: auto;
    }
    .caption {
      position: relative;
      height: 24px;
      margin: 0;

      font-size: 13px;
      font-weight: bold;
      .title {
        line-height: 24px;
        small {
          color: $COLOR_DANGER;
          font-size: 11px;
          font-weight: normal;
        }
      }
      .button {
        font-weight: normal;
      }
    }
    .description {
      margin: 5px 0 5px 0;
      padding: 0;
      opacity: 0.8;
      font-size: 11px;
    }
    .operates {
      position: absolute;
      top: 2px;
      right: 0;
      margin-top: 0;
      span {
        color: #999;
        font-size: 11px;
      }
      a {
        display: inline-block;
        margin-left: 5px;
        padding: 0 5px;
        font-size: 11px;
      }
    }
  }
  .plugin-entry {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    a {
      color: #666;
      font-size: 12px;
      &:hover {
        color: #555;
      }
      i {
        font-size: 14px;
      }
    }
  }

  .section-about {
    display: flex;
    flex-direction: column;
    align-items: center;

    .app-icon {
      width: 128px;
      height: 128px;
      margin-top: 100px;
      background-image: url(../../../../assets/images/app_icon.png);
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: 128px auto;
    }

    .app-name {
      margin: 10px 0 0 0;
      color: #333;
      text-align: center;
      span {
        opacity: 0.8;
        font-size: 20px;
        font-weight: 500;
      }
      small {
        opacity: 0.8;
        font-size: 20px;
        font-weight: 400;
      }
    }

    .app-description {
      margin: 5px 0 50px 0;
      padding: 0 50px;
      color: lighten($COLOR_CAPTION, 20);
      font-size: 12px;
      font-weight: normal;
    }
  }
}

.plugin-options-modal {
  z-index: 99999 + 1;
}

.system-windows .component-preferences {
  .tab-header {
    border-radius: 0;
    box-shadow: 0 1px 0 0 rgba(#000, 0.1);
    .tab-button {
      background-image: none;
      border-radius: 0;
      background-color: #f8f9fa;
      box-shadow: 0 0 0 1px rgba(#000, 0.1);
      &[data-active='true'] {
        background-color: $COLOR_PRIMARY;
        background-image: none;
        box-shadow: 0 0 0 1px darken($COLOR_PRIMARY, 20);
      }
    }
  }
}

body[data-theme='dark'] {
  &.system-windows .component-preferences {
    .tab-header {
      .tab-button {
        background-color: #414243;
        background-image: none;
      }
    }
  }
  .component-preferences {
    .tab-header {
      box-shadow: 0 0.5px 0 0 rgba(#000, 0.5);
      .tab-button {
        color: #aaa;
        background-image: linear-gradient(to bottom, #494a4b, #414243);
        box-shadow: 0 0 0 0.5px rgba(#000, 0.5);
        &[data-active='true'] {
          background-color: $COLOR_PRIMARY;
          background-image: none;
          box-shadow: 0 0 0 0.5px darken(#000, 10);
          color: #fff;
        }
      }
    }
    .divider {
      box-shadow: 0 0.5px 0 0 rgba(#000, 0.4);
    }
    .option-group {
      .label {
        color: #999;
      }
    }
    .options-table {
      background-color: rgba(#fff, 0.1);
      box-shadow: 0 0 0 0.5px rgba(#000, 0.4);
      color: #aaa;
    }
    .plugin-entry {
      a {
        color: #999;
        &:hover {
          color: #aaa;
        }
      }
    }
    .section-about {
      .app-name {
        color: #fff;
      }
    }
  }
}
