@import "~scssinc";

.component-preferences{
  .options{
    margin: 0 15px 30px 15px;
    .option-group{
      height: 20px;
      margin: 20px 0 0 0;
      .label{
        float: left;
        color: rgba(#fff, .6);
        font-size: 12px;
        line-height: 20px;
      }
      .option{
        float: right;
        height: 20px;
      }
    }
  }
}