@import '~scssinc';

.component-plugin-options {
  .header {
    height: 48px;
    line-height: 48px;
    padding: 0 15px;
    box-shadow: 0 0.5px 0 0 rgba(#000, 0.2);
    color: #666;
    font-size: 14px;
    font-weight: bold;
  }
  .content {
    padding: 30px 15px;
  }
  .options {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: flex;
      margin-bottom: 10px;
      .label {
        width: 100px;
        color: #666;
        font-size: 12px;
        line-height: 24px;
      }
      .field {
        flex: 1;
      }
    }
  }
  .input-group {
    display: flex;
    input {
      flex: 1;
      height: 24px;
      margin: 0;
      padding: 0 10px;
      background-color: #f8f9fa;
      box-shadow: inset 0 0 0 0.5px rgba(#000, 0.2), inset 0 1px 2px rgba(#000, 0.1);
      border: none;
      border-radius: 3px;
      outline: none;
      color: #555;
      font-size: 12px;
      &::placeholder {
        color: #999;
      }
      &:focus {
        background-color: #f1f2f3;
      }
    }
    button {
      width: 50px;
      margin-left: 5px;
      padding: 0;
      font-size: 12px;
    }
  }
}

.system-windows .component-plugin-options {
  .input-group {
    input {
      border-radius: 0;
    }
  }
}

body[data-theme='dark'] .component-plugin-options {
  .header {
    box-shadow: 0 0.5px 0 0 rgba(#000, 0.5);
    color: #999;
  }
  .options {
    li {
      .label {
        color: #999;
      }
    }
  }
  .input-group {
    display: flex;
    input {
      background-color: rgba(#fff, 0.1);
      box-shadow: inset 0 0 0 0.5px rgba(#000, 0.4), inset 0 1px 2px rgba(#000, 0.1);
      color: #aaa;
    }
  }
}
