@import '_inc';
@import '_icons';

::-webkit-scrollbar {
  width: 8px;
  height: 0.5px;
  background-color: rgba(#000, 0);
}
::-webkit-scrollbar-thumb {
  width: 6px;
  background-color: rgba(#000, 0.15);
  background-clip: content-box;
  border: 2px solid transparent;
  border-left: none;
  border-radius: 4px;
  &:hover {
    background-color: rgba(#000, 0.25);
  }
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'PingFang SC', caption, arial, 'Microsoft Yahei', 微软雅黑;
  cursor: default;
  user-select: none;
}
html {
  width: 100vw;
  height: 100vh;
}

a {
  text-decoration: none;
  cursor: default;
  -webkit-user-drag: none;
}

.app-container {
  height: 100%;
}

.app-page {
  width: 100vw;
  height: 100vh;
}

.b-box {
  box-sizing: border-box;
}
.c-box {
  box-sizing: content-box;
}

.pull-left {
  float: left;
}
.pull-right {
  float: right;
}

.primary-gradient {
  @include primary_gradient;
}

.text {
  &-primary {
    color: $COLOR_PRIMARY !important;
  }
  &-success {
    color: $COLOR_SUCCESS !important;
  }
  &-warning {
    color: $COLOR_WARNING !important;
  }
  &-danger {
    color: $COLOR_DANGER !important;
  }
}

.link-primary {
  color: $COLOR_PRIMARY;
  text-decoration: none;
  &:hover {
    color: darken($COLOR_PRIMARY, 10);
  }
  &:active {
    color: darken($COLOR_PRIMARY, 20);
  }
}

.text-with-icon {
  display: inline-flex;
  align-items: center;
  > i {
    padding-right: 0.2em;
  }
}

.button {
  background-size: 100% 101%;
  border: none;
  border-radius: 3px;
  outline: none;
  &-xs {
    height: 20px;
    font-size: 12px;
    line-height: 20px;
  }
  &-sm {
    height: 24px;
    font-size: 14px;
    line-height: 22px;
  }
  &-md {
    height: 30px;
    font-size: 14px;
  }
  &-lg {
    height: 40px;
    font-size: 18px;
  }
  &-default {
    background-color: #fff;
    box-shadow: 0 0 0 0.5px rgba(#000, 0.1), 0 1px 1px rgba(#000, 0.15);
    color: #666;
    &:active {
      box-shadow: 0 0 0 0.5px rgba(#000, 0.1), 0 0 1px rgba(#000, 0.15);
    }
    &:disabled {
      background-color: #fff;
      opacity: 1;
      color: #ccc;
    }
  }
  &-primary {
    background-color: lighten($COLOR_PRIMARY, 0);
    background-image: linear-gradient(rgba(#fff, 0.1), rgba(#fff, 0));
    box-shadow: inset 0 0.5px 0 0 rgba(#fff, 0.3), 0 1px 2px rgba(#000, 0.2);
    color: rgba(#fff, 1);
    &:active {
      background-color: lighten($COLOR_PRIMARY, 3);
    }
    &:disabled {
      opacity: 0.4;
      pointer-events: none;
    }
  }
  &-danger {
    @include danger_gradient;
    box-shadow: inset 0 0.5px 0 0 rgba(#fff, 0.3);
    color: rgba(#fff, 0.8);
    &:active {
      box-shadow: 0 1px 0 0 rgba(#fff, 0.1);
    }
    &:disabled {
      background-color: lighten(desaturate($COLOR_DANGER, 60%), 20);
      pointer-events: none;
    }
  }
  &-ghost {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #6f747c;
    &:hover {
      background-color: #f1f1f1;
    }
    &:active {
      background-color: #e1e1e1;
    }
    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}

body.system-windows {
  ::-webkit-scrollbar {
    width: 6px;
    background-color: #f1f2f3;
  }
  ::-webkit-scrollbar-thumb {
    width: 6px;
    background-color: rgba(#000, 0.1);
    background-clip: content-box;
    border: none;
    border-left: none;
    border-radius: 0;
    &:hover {
      background-color: rgba(#000, 0.15);
    }
  }
  .button {
    border-radius: 0;
  }
}
body[data-theme='dark'] {
  ::-webkit-scrollbar {
    background-color: rgba(#fff, 0);
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgba(#fff, 0.15);
    &:hover {
      background-color: rgba(#fff, 0.2);
    }
  }
  .button-default {
    background-image: linear-gradient(to bottom, #575859, #515253);
    box-shadow: inset 0 0.5px 0 0 rgba(#fff, 0.1), 0 0 0 0.5px rgba(#000, 0.3),
      0 1px 1px rgba(#000, 0.15);
    color: #aaa;
    &:active {
      background-image: linear-gradient(to bottom, #676869, #616263);
    }
    &:disabled {
      background-color: #414243;
      opacity: 1;
      color: #777;
    }
  }
}

@keyframes processing {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 48px 0;
  }
}
