@import "_inc";
@import "_icons";

::-webkit-scrollbar{
  width: 12px;
  height: 1px;
  background-color: rgba(#fff, .05);
}

::-webkit-scrollbar-thumb{
  width: 8px;
  background-color: rgba(#000, .35);
  background-clip: content-box;
  border: 2px solid transparent;
  border-radius: 6px;
  &:hover{
    background-color: rgba(#000, .55);
  }
}

html, body{
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: caption, 'PingFang SC', arial, "Microsoft Yahei", 微软雅黑;
  cursor: default;
  user-select: none;
}

body.platform-windows{
  &::before{
    position: absolute;
    z-index: 999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    content: '';
  }
}

a{
  text-decoration: none;
  cursor: default;
  -webkit-user-drag: none;
}

.app-container{
  height: 100%;
}

.app-page{
  width: 100vw;
  height: 100vh;
}

.b-box{
  box-sizing: border-box;
}
.c-box{
  box-sizing: content-box;
}

.pull-left{
  float: left;
}
.pull-right{
  float: right;
}

.primary-gradient{
  @include primary_gradient;
}

.text{
  &-primary{
    color: $COLOR_PRIMARY !important;
  }
  &-success{
    color: $COLOR_SUCCESS !important;
  }
  &-warning{
    color: $COLOR_WARNING !important;
  }
  &-danger{
    color: $COLOR_DANGER !important;
  }
}

.link-primary{
  color: $COLOR_PRIMARY;
  text-decoration: none;
  &:hover{
    color: darken($COLOR_PRIMARY, 10);
  }
  &:active{
    color: darken($COLOR_PRIMARY, 20);
  }
}

.text-with-icon{
  display: inline-flex;
  align-items: center;
  > i{
    padding-right: .2em;
  }
}

.button{
  background-size: 100% 101%;
  border: none;
  border-radius: 3px;
  outline: none;
  &-xs{
    height: 20px;
    font-size: 12px;
    line-height: 20px;
  }
  &-sm{
    height: 24px;
    font-size: 14px;
    line-height: 22px;
  }
  &-md{
    height: 30px;
    font-size: 14px;
  }
  &-lg{
    height: 40px;
    font-size: 18px;
  }
  &-default{
    background-color: lighten($COLOR_DARK, 15);
    background-image: linear-gradient(rgba(#000, 0), rgba(#000, .1));
    box-shadow: inset 0 .5px 0 0 rgba(#fff, .1), 0 .5px 0 0 rgba(#000, .2);
    color: rgba(#fff, .6);
    &:active{
      background-color: lighten($COLOR_DARK, 18);
    }
    &:disabled{
      opacity: .4;
      pointer-events: none;
    }
  }
  &-primary{
    background-color: lighten($COLOR_PRIMARY, 0);
    background-image: linear-gradient(rgba(#fff, .1), rgba(#fff, .0));
    box-shadow: inset 0 .5px 0 0 rgba(#fff, .3), 0 1px 2px rgba(#000, .2);
    color: rgba(#fff, 1);
    &:active{
      background-color: lighten($COLOR_PRIMARY, 3);
    }
    &:disabled{
      opacity: .4;
      pointer-events: none;
    }
  }
  &-danger{
    @include danger_gradient;
    box-shadow: inset 0 .5px 0 0 rgba(#fff, .3);
    color: rgba(#fff, .8);
    &:active{
      box-shadow: 0 1px 0 0 rgba(#fff, .1);
    }
    &:disabled{
      background-color: lighten(desaturate($COLOR_DANGER, 60%), 20);
      pointer-events: none;
    }
  }
  &-ghost{
    background-color: #fff;
    border: 1px solid #ddd;
    color: #6F747C;
    &:hover{
      background-color: #f1f1f1;
    }
    &:active{
      background-color: #e1e1e1;
    }
    &:disabled{
      opacity: .5;
      pointer-events: none;
    }
  }
}

.light-style{

  ::-webkit-scrollbar{
    background-color: rgba(#000, .1);
  }

  ::-webkit-scrollbar-thumb{
    background-color: #bbb;
    &:hover{
      background-color: #999;
    }
  }
}


.light-style .button,
.light-style.button{
  &.button-default{
    background-color: #fff;
    box-shadow: 0 0 0 .5px rgba(#000, .1), 0 1px 1px rgba(#000, .15);
    color: #666;
    &:disabled{
      background-color: #fff;
      opacity: 1;
      color: #ccc;
    }
    &:active{
      background-color: #f2f2f2;
    }
  }
  &.button-primary{
    box-shadow: inset 0 1px 0 0 rgba(#fff, .5), inset 0 0 0 .5px rgba(#000, .2);
  }
}