$COLOR_PRIMARY: darken(#4A90E2, 5);
$COLOR_SUCCESS: #27ae60;
$COLOR_WARNING: #f39c12;
$COLOR_DANGER: #e74c3c;
$COLOR_DARK: #32353B;//#292D35;//#313132;
$COLOR_CAPTION: #59667D;

$TITLE_BAR_HEIGHT: 23px;

@mixin primary_gradient{
  background-image: linear-gradient(darken($COLOR_PRIMARY, 10), darken($COLOR_PRIMARY, 25));
}

@mixin dark_gradient{
  background-image: linear-gradient(lighten($COLOR_DARK, 10), lighten($COLOR_DARK, 5));
}

@mixin darker_gradient{
  background-image: linear-gradient(lighten($COLOR_DARK, 5), lighten($COLOR_DARK, 0));
}

@mixin danger_gradient{
  background-image: linear-gradient(lighten($COLOR_DANGER, 5), lighten($COLOR_DANGER, 0));
}

@mixin primary_shadow{
  box-shadow: 4px 7px 10px 0px rgba($COLOR_PRIMARY, .3)
}

@mixin linear_spinning{
  animation: spinning .5s linear infinite;
}

@keyframes spinning{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes background_translate{
  0% {
    background-position-x: 0%;
  }
  50% {
    background-position-x: 320px;
  }
  100% {
    background-position-x: 640px;
  }
}