$COLOR_PRIMARY: #488def;
$COLOR_SUCCESS: #59ce74; //#49f795
$COLOR_WARNING: #f3ab3d;
$COLOR_DANGER: #cc2213;
$COLOR_DARK: #242526; //#;//#313132;
$COLOR_CAPTION: #555; //#59667d;
$TITLE_BAR_HEIGHT: 38px;

@mixin primary_gradient {
  background-image: linear-gradient(darken($COLOR_PRIMARY, 10), darken($COLOR_PRIMARY, 25));
}

@mixin dark_gradient {
  background-image: linear-gradient(lighten($COLOR_DARK, 10), lighten($COLOR_DARK, 5));
}

@mixin darker_gradient {
  background-image: linear-gradient(lighten($COLOR_DARK, 5), lighten($COLOR_DARK, 0));
}

@mixin danger_gradient {
  background-image: linear-gradient(lighten($COLOR_DANGER, 5), lighten($COLOR_DANGER, 0));
}

@mixin primary_shadow {
  box-shadow: 4px 7px 10px 0px rgba($COLOR_PRIMARY, 0.3);
}

@mixin linear_spinning {
  animation: spinning 0.5s linear infinite;
}

@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes background_translate {
  0% {
    background-position-x: 0%;
  }
  50% {
    background-position-x: 320px;
  }
  100% {
    background-position-x: 640px;
  }
}
