@import "~scssinc";

.component-progress-circle{
  position: relative;
  fill: none;
  line-height: 0;
  circle{
    display: block;
  }
  &:hover{
    .circle{
      stroke: rgba(#fff, .5);
    }
  }
  &.tiny,
  &.small{
    .circle{
      stroke: rgba(#fff, .3);
    }
    .played{
      stroke: #fff;
    }
  }
  .circle{
    fill: none;
    stroke: rgba(#fff, .1);
  }
  .played{
    fill: none;
    stroke: $COLOR_PRIMARY;
  }
}